<p>In general, if you are traveling overseas (<%= abbr_tag('oconus') %>), the government will pay to ship one <%= abbr_tag('pov') %> to your new location, but you will need to arrange for it to be dropped off at the designated drop-off center before departing. (Note: There may be some overseas bases, such as in Japan, where it is not possible to have a car. In these cases, the government will pay to store your <%= abbr_tag('pov') %> stateside for the length of your tour.)</p>
<p>If you are travelling within the 48 contiguous states, the government requires you to drive your car to your new location or to pay for shipment at your own expense. The government will reimburse you for the mileage as well as any toll expenses you encounter along the way, so be sure to save receipts/tickets. In some cases, service members may be able to get a waiver to allow for vehicle shipment if a medical condition prevents them from sitting for long distances or if the report date makes it geographically impossible to drive with the allotted period of time.</p>
<p>Privately Owned Vehicle Shipments (POV) can be booked at <%= link_to 'PCSMyPOV', 'https://www.pcsmypov.com/' %>.</p>

<p><strong>Approved for:</strong></p>

<div class="usa-grid-full">
  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('conus') %>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Temporary Duty (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>

  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('oconus') %>
    </div>
    <div>
      <span class="tag tag-unapproved">
        <span class="usa-sr-only">Not approved for</span> Temporary Duty (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>
</div>
