<p>Think of a personally procured move (PPM) as a "Do-It-Yourself" move within the military. You will be responsible, for either packing/unpacking and transporting your belongings to your new location yourself or hiring your own commercial moving company. You can use a pod, U-Haul, or any other method of your choosing to conduct a <%= abbr_tag('ppm') %>.</p>
<p>As an incentive to move yourself, the government will pay you 95% of their cost to hire a moving company on your behalf. If you can move your belongings yourself for less money, you get to keep the difference. Remember, this money is considered an incentive and is based on the household goods weight you actually transport. If necessary, for most branches of service you can receive an advance payment of up to 60% of the incentive value. <%= link_to raw("Calculate your estimated #{abbr_tag('ppm')} incentive for an upcoming move."), '#TODO' %></p>
<p><%= abbr_tag('ppm') %>s are especially recommended for any irreplaceable valuables you own (i.e. family heirlooms, photos, important documents, etc) or for necessities you will need immediately at your new location while waiting for your transporter to arrive.</p>

<p><strong>Approved for:</strong></p>

<div class="usa-grid-full">
  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('conus') %>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Temporary Duty Yonder (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>

  <div class="approvals usa-width-one-half">
    <div class="move-type">
      <%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %>
      <%= abbr_tag('oconus') %>
    </div>
    <div>
      <span class="tag tag-approved">
        <span class="usa-sr-only">Approved for</span> Temporary Duty Yonder (TDY)
      </span>
    </div>
    <div>
      <span class="tag tag-semiapproved">
        <span class="usa-sr-only">Sometimes approved for</span> Permanent Change of Station (PCS)
      </span>
    </div>
  </div>
</div>

<p><em>*<%= abbr_tag('ppm') %>s for <%= abbr_tag('oconus') %> Permanent Change of Duty Station Moves are generally reserved for situations where the government does not have the resources to arrange a household goods move. These moves are reimbursed at 100% of the actual cost.</em></p>

<div class="usa-media_block pro-tip">
  <%= image_tag 'icons/pro-tip.svg', alt: 'lightbulb icon', class: 'usa-media_block-img' %>
  <div class="usa-media_block-body"><strong>Did You Know:</strong> If the government cannot arrange a Household Goods (HHG) move within the timeframe requested, you can do a <%= abbr_tag('ppm') %> and receive reimbursement 100% of the actual cost associated with hiring a commercial moving company.</div>
</div>
