<%- @page_title = 'What to Expect with a CONUS Move' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1>What to Expect with a <%= abbr_tag('conus') %> Move</h1>

  <aside class="sidenav">
    <div class="sidenav-jump-to">
      Jump to:
    </div>
    <ul class="usa-sidenav-list">
      <li><%= link_to 'Introduction', '#introduction' %></li>
      <li><%= link_to 'Assignment Notification', '#assignment' %></li>
      <li><%= link_to 'Orders', '#orders' %></li>
      <li><%= link_to 'Scheduling the Move', '#scheduling' %></li>
      <li><%= link_to 'Before the Packers Arrive', '#before-packing' %></li>
      <li><%= link_to 'Pack Day!', '#pack-day' %></li>
      <li><%= link_to 'Loading/Moving Day', '#moving-day' %></li>
      <li><%= link_to 'On the Road', '#on-the-road' %></li>
      <li><%= link_to 'Delivery', '#delivery' %></li>
      <li><%= link_to 'Clean Up, Claims, & Customer Survey', '#clean-up' %></li>
    </ul>
  </aside>

  <div class="sidenav-body what-to-expect-body">
    <div id="introduction" class="what-to-expect-intro">
      While everyone's experiences will be different, this will provide a baseline of what "right" looks like.  As with anything, if your move starts to go bad, you aren't alone in this process.  Do not hesitate to reach out to the <%= link_to 'local personal property office', offices_path %> or the <%= link_to 'family support center', 'http://www.militaryinstallations.dod.mil/MOS/f?p=MI:ENTRY:0' %> at your current installation for help.  Additionally, you can refer to <%= link_to 'moving tips', page_path('moving-guide/tips') %> from people like you or our <%= link_to 'Frequently Asked Questions', faqs_path %>. Another amazing resource is <%= link_to 'MilitaryOne Source', 'https://www.militaryonesource.mil/web/mos/moving-housing' %> - they have representatives available 24/7 to answer those late night questions about your upcoming move.
    </div>

    <div class="what-to-expect-section">
      <h4>Experienced Mover</h4>

      <p>This isn't your first rodeo and you have a few moves under your belt at this point. However, since most members only move every few years you can be a bit rusty. The information below is meant to serve as a quick refresher for what you and if you have family can expect for your move.</p>

      <p>We would highly recommend brushing up on the following sections - <%= link_to 'Before the Packers Arrive', '#before-packing' %>, <%= link_to 'Pack Day', '#pack-day' %>, <%= link_to 'Loading/Moving Day', '#moving-day' %>, <%= link_to 'Delivery', '#delivery' %> and <%= link_to 'Claims', '#clean-up' %>.  Through months of research, these phases proved to be the most stressful so take a moment to make sure you are prepared!</p>

      <h4>First Time Mover</h4>

      <p>Here is where it all begins - you've been given notification that you and if you have a family, are moving.  The excitement of this new move is typically followed very quickly by panic as you realize all the things that go into moving down the block let alone across the country!  While the task is certainly daunting, we are here to help. You need to stay proactive throughout the process and make sure you have a good plan going into the move.</p>

      <em>Let's get started…</em>
    </div>

    <div id="assignment" class="what-to-expect-section">
      <h4>Assignment Notification</h4>

      <p>While each service does this just a tad bit differently, you are typically notified of a permanent change of station through an assignment notification process. This could be an e-mail, phone call or a notification from a supervisor that you will be moving. It's important to understand that an assignment notification does not mean that you have "orders" just yet. At this stage, it's recommended that you start some of the preparation work which may include starting to look at places to live near your new home and getting yourself organized for the pending move. The one constant within the Department of Defense is change, so we caution you to make any permanent decisions (i.e. home purchase) until there are orders in hand. Here are some great <%= link_to 'moving tips', page_path('moving-guide/tips') %> on things you can do before the move.</p>
    </div>

    <div id="orders" class="what-to-expect-section">
      <h4>Orders</h4>

      <p>After days, weeks and potentially months of waiting you now have your orders. <strong>Your orders are an important document to have, so make sure everything is accurate.</strong> In addition to the administrative details (your name, social security number, etc.), make sure it has the correct duty station, dependent information and reporting dates. If you see anything that does not look right, you need to let the administration section know that there is an error so it can be corrected as soon as possible. Once you have your orders, you can <%= link_to raw("sign in to #{abbr_tag('dps')}"), 'https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&amp;SSOAppID=DPS' %> to schedule your move.</p>
    </div>

    <div id="scheduling" class="what-to-expect-section">
      <h4>Scheduling the Move</h4>

      <p>By now, you should have a basic game plan in order as you prepare for the move and depending on your timeframe, maybe even started taking some of the steps outlined in <%= link_to 'our tips', page_path('moving-guide/tips') %>. Now that you have orders in hand, you get to schedule your move. When you <%= link_to raw("sign in to #{abbr_tag('dps')}"), 'https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&amp;SSOAppID=DPS' %> you can expect to be asked a series of questions about your move. To make sure you are prepared, you can expect to be asked about…</p>
      <div class="usa-grid-full">
        <div class="usa-width-one-third">
          <ul>
            <li>Your contact information</li>
            <li>Estimated weight (use the <%= link_to 'Weight Estimator', weight_estimator_path %> to help!)</li>
            <li>Pick-up &amp; delivery locations</li>
            <li>Pick-up &amp; delivery dates</li>
            <li>Special items (boat, guns, RV, large electronics)</li>
            <li>PBP&amp;E, also known as Professional-Gear (Pro-Gear)</li>
            <li>Your preferred or nonpreferred transportation provider (moving company) if you have one</li>
          </ul>
        </div>
          <div
        <div class="usa-width-two-thirds">
          <div class="usa-media_block pro-tip">
            <%= image_tag 'icons/pro-tip.svg', alt: 'lightbulb icon', class: 'usa-media_block-img' %>
            <div class="usa-media_block-body">
              <strong>Pro-Tips:</strong>
              <ul>
                <li>It's also good to include an emergency contact in case the driver cannot get ahold of you during the move.</li>
                <li>You don't need to know your exact delivery address to schedule your move. You can just specify your new base and update it later.</li>
                <li>The pick-up date is the day your items are placed on the truck.  Your pack dates will be the days leading up to your pick-up date.  Those fluctuate depending on your estimated weight.</li>
                <li><%= link_to 'View more tips', page_path('moving-guide/tips') %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="before-packing" class="what-to-expect-section">
      <h4>Before the Packers Arrive</h4>

      <p>Preparation before the big day is really important  to make sure that you and your residence are ready for a flurry of activity. If you haven't checked out some of these <%= link_to 'moving tips', page_path('moving-guide/tips') %>, now would be a great time. At the end of the day, being proactive about your move is the best way to make it successful. It will depend on the size of your residence and how many household goods you have when you should start this process.</p>

      <div class="usa-media_block pro-tip">
        <%= image_tag 'icons/pro-tip.svg', alt: 'lightbulb icon', class: 'usa-media_block-img' %>
        <div class="usa-media_block-body">
          <strong>Pro-Tip:</strong> Make your own inventory. Before the packers come, it is suggested that you document any high-value and electronic items yourself. Make sure you document the make and serial number of each item, along with a photo or video of the item showing its condition. (If it's an TV or other electronic, a simple video showing it working can save you headache later.) Make sure that information makes it on the moving company's inventory BEFORE the truck leaves your house.
        </div>
      </div>

      <p>Additionally, you can expect the shipping company to send over someone to complete a <strong>Pre-Move Survey</strong> at your home. During the survey, they will also complete their own weight estimation and annotate any special items that you called out in the Defense Personal Property System (DPS). If you are within a week of your move and a survey has not been completed on your home, it's highly recommended you reach out to the moving company or your <%= link_to 'local personal property office (PPPO)', offices_path %>.</p>
    </div>

    <div id="pack-day" class="what-to-expect-section">
      <h4>Pack Day!</h4>

      <p>For starters, let's make sure we understand that there is a difference between packing and moving dates. During the packing phase, the moving company will typically send a few packers to the home to put all your items in boxes. The phase that follows this is when all of your items are loaded up onto the truck which is move day. We will cover that next.</p>

      <p>The packers are supposed to call ahead of time to inform you they will be coming out on certain dates and within a specified time period. It's critical that you are available during this time and for some reason if they fail to show during the window that you, notify your <%= link_to 'local personal property office (PPPO)', offices_path %> quickly.</p>

      <div class="usa-grid-full">
        <div class="usa-width-one-third">
          The packers will load just about anything and everything that they can fit into boxes during this portion which can both be a blessing and a challenge at once.  Try to anything that needs to travel with you before pack day, or you run the risk of those crucial items being packed and lost in the mix of the boxes. Learn from others' <%= link_to 'Nightmare Move', page_path('moving-guide/nightmare-moves') %> stories.
        </div>

        <div class="usa-width-two-thirds">
          <div class="usa-media_block pro-tip">
            <%= image_tag 'icons/pro-tip.svg', alt: 'lightbulb icon', class: 'usa-media_block-img' %>
            <div class="usa-media_block-body">
              <strong>Pro-Tips:</strong>
              <ul>
                <li>Physically separate anything you plan to take/keep with you from the rest of your belongings into a closet or your vehicle before the packers arrive. Clearly mark this area with a "Do Not Pack" sign.</li>
                <li>Invite friends and family to keep an eye on things during packing day. It can be really helpful if you can have someone shadowing the packers, making sure your inventory is accurate, and potentially even taking photos of the inside of boxes as they are packed.</li>
                <li><%= link_to 'View more tips', page_path('moving-guide/tips') %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <p>Bottom line, if at any point something doesn't feel right, you should call your local personal property office and ask for the assistance from an inspector/quality assurance personnel.</p>
    </div>

    <div id="moving-day" class="what-to-expect-section">
      <h4>Loading/Moving Day</h4>

      <p>The truck has arrived and it's time for all of your household goods to be loaded up on the truck. For this phase, the driver of the truck is usually in charge of the show. The driver is responsible for ensuring there is a crew and that everything is properly loaded onto the truck before departing. If you run into any issues during this phase, talk with the driver first and if they are unable to resolve the issue don't hesitate to call your <%= link_to 'local personal property office', offices_path %> for help.</p>

      <p>During packing and loading, the transportation company will be creating an inventory of all your household items and will put stickers on all the boxes and larger items (couches, large appliances, etc.). On these inventory sheets, they will also be indicating whether or not there was any pre-existing damage to your household goods. If you disagree with their assessment make sure you annotate that on the inventory sheet!</p>

      <p>After everything is loaded up on the truck, do a walkthrough with the driver to make sure everything is out of your residence and loaded up. This will ensure that nothing gets left behind and if you see any damage to the residence you can annotate that on a DD Form 1840, which your driver should have on hand. If possible, ask the driver for their phone number so you can reach them if needed. <strong>The last thing will be signing the inventory sheet… if you don't agree with something on that form make sure you annotate that BEFORE signing in the remarks section!</strong></p>
    </div>

    <div id="on-the-road" class="what-to-expect-section">
      <h4>On the Road</h4>

      <p>As you are traveling to your next destination, it's important to keep the lines of communication open and available for the driver. If your driver has any updates, they may try to contact you as they make their way to your next destination and it's important you be available to answer any questions that they may have.</p>

      <p>Depending on whether your household goods will be going into storage or a door-to-door move, will determine what happens next. For those doing a door-to-door, it's important that you arrive before the driver. If the driver arrives at your new residence before you do they may have to put your items in storage, depending on their schedule. For those whose items are going into storage, you have more flexibility with your timing.</p>

      <div class="usa-media_block pro-tip">
        <%= image_tag 'icons/pro-tip.svg', alt: 'lightbulb icon', class: 'usa-media_block-img' %>
        <div class="usa-media_block-body">
          <strong>Pro-Tip:</strong> If you are doing a door-to-door delivery, you must respond to the driver within 2 hours of their attempt to contact you. After 2 hours, your driver may try to call the <%= link_to 'local personal property office', offices_path %> and have your belongings placed in storage. Once they are in storage, it can sometimes take up to a few weeks to get them delivered.
        </div>
      </div>

      <p>While this may not necessarily be tied to your household goods shipment, it's important that you keep any receipts you can on your trip. This can include hotel receipts, gasoline, tolls, etc. that may be needed when you file your voucher at the end. Better to be safe than sorry.</p>
    </div>

    <div id="delivery" class="what-to-expect-section">
      <h4>Delivery</h4>

      <p>After snapping a picture of the moving truck arriving at your new residence and posting it to your favorite Social Media site, it's time to get down to business.  You can expect to do a walk-through with the driver and the delivery crew first to identify any pre-existing damage to the residence and let them see the layout of the home to determine the best way to deliver your household goods. The delivery crew should put down some type of material (plastic, fabric, etc.) to protect some of your flooring and expect them to put some form of protection on any tight corners that may be in the residence as well.</p>

      <p>Prior to the delivery crew offloading your household goods, they will give you the inventory sheet to check off the "numbers" to ensure everything is delivered. <strong>Do not let the delivery crew check off the numbers on the inventory sheet… this would not be in your best interest!</strong> As the boxes come off the truck, you should expect to direct them to a room in the residence on where that item should be placed. If you've got friends or family that can help during this phase, that's always a bonus.</p>

      <p>Once the truck is empty, you should verify on the inventory sheet that everything has been delivered. If not, those items need to be annotated on the inventory sheet before you sign off. Additionally, if you saw any items come in damaged, you can annotate that as well, but you'll still have time to file a claim in case you missed it. This goes for any damage that may have occurred to the residence.</p>

      <p>Finally, you have a couple of options during the delivery phase about what items you want the delivery crew to unpack. For starters, they can do a full unpack, which is basically where hey empty all the items of the boxes in the specified rooms. The crew can do a partial unpack and only open boxes in select areas and finally you can have them reassemble any furniture that they took apart at the origin (beds, couches, etc.).</p>
    </div>

    <div id="clean-up" class="what-to-expect-section">
      <h4>Clean Up, Claims &amp; Customer Survey</h4>

      <p>Once you have emptied out all your household goods from the boxes, you should call the local moving company that delivered your goods and setup a time for them to come back out and remove any old boxes, packing material, etc. They are responsible to remove it from the residence one time after delivery. If possible, have everything piled up in one location to get this done quickly.</p>

      <p>While we hope all of your items arrived in one piece, the reality is that isn't always the case. You will need to <%= link_to 'sign in to the Defense Personal Property System (DPS)', 'https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&amp;SSOAppID=DPS' %> and complete this part of the process. When you login to the system, you can expect to see two paths - Lost/Damage Report and Claims Submission.</p>

      <p>A <strong>Loss/Damage Report</strong> is your way to notify the moving company that some of your items are missing or were damaged during the delivery process. <strong>This must be done within 75 days of your delivery date.</strong> If the items cannot be found or they cannot fix the damage, you must file a claim to be reimbursed! Remember… a Loss/Damage Report is NOT a claim!</p>

      <p>If you did not submit a Loss/Damage Report, you will need to file your claim within 75 days of delivery. If you submitted a Loss/Damage Report within the 75 day window, you will have up to 9 months to file a claim for the Full Replacement Value of the item you are claiming. If the claim is filed more than 9 months from the delivery date, you will only be eligible for depreciated value up to two years from delivery.</p>

      <p>The last and final action item you can expect from the move experience is a survey. The survey will ask some questions about your experience and we highly encourage you to be upfront and honest. The survey's are read (by humans!) and if there is a negative trend on a moving company they can be suspended temporarily or indefinitely if they are providing poor service. On the flip side, if you find a moving company that did an excellent job, please put that in the survey as well to help out your colleagues!</p>
    </div>
  </div>
</div>
