<%- @page_title = 'What to Expect with an OCONUS Move' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1>What to Expect with an <%= abbr_tag('oconus') %> (Overseas) Move</h1>

  <%= render layout: 'shared/sidenav' do %>
    <li><%= link_to 'Introduction', '#introduction' %></li>
    <li><%= link_to 'Assignment Notification', '#assignment' %></li>
    <li><%= link_to 'Orders', '#orders' %></li>
    <li><%= link_to 'Schedule Your Move', '#scheduling' %></li>
    <li><%= link_to 'Before the Packers Arrive', '#before-packing' %></li>
    <li><%= link_to 'Packing Day', '#pack-day' %></li>
    <li><%= link_to 'Loading/Moving Day', '#moving-day' %></li>
    <li><%= link_to 'Getting There', '#getting-there' %></li>
    <li><%= link_to 'Traveling with Pets', '#pets' %></li>
    <li><%= link_to 'Arrival', '#arrival' %></li>
    <li><%= link_to 'Delivery', '#delivery' %></li>
    <li><%= link_to 'Clean Up, Claims, & Customer Survey', '#clean-up' %></li>
    <li><%= link_to 'New Host Country', '#new-country' %></li>
  <% end %>

  <div class="sidenav-body">
    <div id="introduction" class="article-intro">
      Moving outside the continental U.S. (OCONUS) can be intimidating, especially to those who may be experiencing this for the first time. You have resources at your <%= link_to 'local personal property office', locations_path %>, 24/7 at  <%= link_to 'Military OneSource', 'https://www.militaryonesource.mil/web/mos/moving-housing' %>, and in this list of <%= link_to 'moving tips', page_path('moving-guide/tips') %> or <%= link_to 'FAQ', faqs_path %>. Let's check out what a typical <%= abbr_tag('oconus') %> move could look like.
    </div>

    <div id="assignment" class="article-section">
      <h4>Assignment Notification</h4>

      <p>Your move process begins with assignment notification, through email, a phone call, or notification from a supervisor. It's important to understand that an assignment notification does not mean that you have "orders" just yet.</p>
      <p>At this stage, you should start looking into places to live near or on your new post and getting everything organized for the pending move. Don't make any permanent decisions (i.e. home purchase) until there are orders in hand.</p>
      <p>Your new location's <%= link_to 'Housing Office', locations_path %> is the best resource for up-to-date weight allowance restrictions and housing options.</p>
    </div>

    <div id="orders" class="article-section">
      <h4>Orders</h4>

      <p><strong><em>Accuracy Matters</em></strong><br> When you receive your orders, make sure all the details are accurate. In addition to the administrative details (your name, social security number, etc.), make sure it has the correct duty station, dependent information, and reporting dates. Let the administration section know that there is an error so it can be corrected as soon as possible.</p>
      <p><strong><em>Moving with family?</em></strong><br> Check to see if dependents are specifically listed in your orders. If not, you'll need to get Command Sponsorship, also known as "Accompanied Orders". You can submit a formal request for "Accompanied Orders" through your chain of command, but be aware that getting your command's approval isn't guaranteed.</p>
      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <p>Command Sponsorship Benefits:</p>
          <ul>
            <li>Reimbursed for dependent travel and housing expenses, so keep detailed records!</li>
            <li>More housing allowance</li>
            <li>Higher weight entitlement to move your household goods</li>
            <li>Your dependents will have access to medical and legal services</li>
            <li>The right to stay in your host country without a visa, etc.</li>
          </ul>
        </div>
        <div class="usa-width-one-half">
          <p>Without Sponsorship:</p>
          <ul>
            <li>Dependent expenses are out of pocket</li>
            <li>Your BAH (Basic Allowance for Housing) is affected</li>
            <li>Your family won't automatically have the right to live with you in your new location</li>
            <li>They might need visas</li>
            <li>Status of Forces Agreement, or SOFA, associated with the country where you will be living. Failure to do so could result in large fines.</li>
          </ul>
        </div>
      </div>

      <%= render layout: 'shared/pro_tip' do %>
        <strong>Pro-Tip:</strong> Get a Special Power of Attorney for your spouse. This allows them to take necessary action on moving and financial decisions while you're in the field.
      <% end %>

      <p>Got Legal questions? Reach out to <%= link_to 'Armed Forces Legal Assistance', 'http://legalassistance.law.af.mil/content/locator.php' %>.</p>
      <p>Once you have your orders, you can login to the <%= link_to 'Defense Personal Property System', 'https://eta.sddc.army.mil/ETASSOPortal/default.aspx' %> to schedule your move.</p>
    </div>

    <div id="scheduling" class="article-section">
      <h4>Schedule Your Move</h4>

      <ol>
        <li>Use the <%= link_to 'Defense Personal Property System', 'https://eta.sddc.army.mil/ETASSOPortal/default.aspx' %> to upload your orders and create a shipment (or two). Check out these <%= link_to 'tutorials', page_path('tutorials') %> for help using <%= abbr_tag('dps') %>.</li>
        <li>Next, take the DD forms generated by <%= abbr_tag('dps') %> to your local <%= link_to 'Transportation Office', locations_path %>. At that time, you'll get matched with a moving company (also known as a Transportation Service Provider, or Carrier), and your packing and moving dates will be confirmed.</li>
      </ol>

      <div class="usa-grid-full">
        <div class="usa-width-one-third">
          Have this info ready for <%= abbr_tag('dps') %>:
          <ul>
            <li>Your contact information</li>
            <li><%= link_to 'Estimated Weight', weight_estimator_path %></li>
            <li>Pick up &amp; delivery locations</li>
            <li>Pick up & delivery dates</li>
            <li>Special items (boat, guns, RV, large electronics)</li>
            <li>PBP&amp;E, also known as Professional-Gear (Pro-Gear)</li>
          </ul>
        </div>
        <div class="usa-width-two-thirds">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tips:</strong>
            <ul>
              <li>It's also good to include an emergency contact in case the driver cannot get ahold of you during the move.</li>
              <li>You don't need to know your exact delivery address to schedule your move. You can just specify your new base and update it later.</li>
              <li>The pick up date is the day your items are placed on the truck. Your pack dates will be the days leading up to your pick up date. Those fluctuate depending on your estimated weight.</li>
              <li><%= link_to 'View more tips', page_path('moving-guide/tips') %></li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div id="before-packing" class="article-section">
      <h4>Before the Packers Arrive</h4>

      <p>Your moving company will complete a <strong>Pre-Move Survey</strong> at your home. They'll do a weight estimate and identify any special items that you entered in the Defense Personal Property System (DPS), so that on moving day they have all the necessary packing materials. Call your moving company if you're within a week of moving day, and a Pre-Move Survey has not been completed on your home. Your <%= link_to 'local personal property office', locations_path %> can also help.</p>

      <%= render layout: 'shared/pro_tip' do %>
        <strong>Pro-Tip:</strong> Make your own inventory! Include the make and serial number of any high value and electronics items. Take a video of things like your TV working, to show that it's in good working condition.  Insist that information makes it onto the moving company's inventory BEFORE the truck leaves your house.
      <% end %>

      <p>
        <strong><em>What should I bring?</em></strong><br>
        Now is the time to take a look at your belongings and decide what to take with you, what you might leave behind in storage, and what items you could sell or donate. When making this decision, consider:
      </p>

      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <ul>
            <li>Does my next command provide furnished housing? <%= link_to 'Transportation Office Locator', locations_path %></li>
            <li>Am I permitted to bring along dependents? Your orders should tell you!</li>
            <li>Does the host country restrict weight allowances?</li>
            <li>What about my Personally Owned Vehicle (POV)?</li>
          </ul>
        </div>
        <div class="usa-width-one-half">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tip:</strong> Research your host country's electrical outlets! You may need a converter, or choose to buy new appliances and electronics when you get there. Most bases have a thrift shop where you can pick up items when you arrive!
          <% end %>
        </div>
      </div>

      <div class="usa-grid-full article-subsection">
        <div class="usa-width-two-thirds">
          <p>Now that you've taken a mental picture of what you'd like to bring, separate it into three groups:</p>

          <ol>
            <li>Items you'll pack in your suitcases (clothes, toiletries, important documents)</li>
            <li>Items you'll ship in unaccompanied baggage (linens, pots and pans)</li>
            <li>Items you'll ship with Household Goods (books, small furniture)</li>
          </ol>
        </div>
        <div class="usa-width-one-third">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tip:</strong> Choose wisely! A household goods shipment won't arrive at your new location for several weeks.
          <% end %>
        </div>
      </div>

      <div class="usa-grid-full article-subsection">
        <div class="usa-width-one-half">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tip:</strong> Pack important documents in an accordion folder and keep it in your carry-on bag. You should have several copies of each:

            <ul>
              <li>Orders</li>
              <li>Passport(s)</li>
              <li>ID Card(s) front and back</li>
              <li>Marriage License/Certificate</li>
              <li>Birth Certificate(s)</li>
            </ul>
          <% end %>
        </div>
        <div class="usa-width-one-half">
          <p>You'll need some of these documents as soon as you get off the plane when you go through customs in your host country.</p>
        </div>
      </div>

      <p>Financially speaking, a good understanding of your host country's housing allowances will help you determine what to pack as well. Confirm your new location's Housing Allowance through the Defense Travel Management Office, as these rates can change every year!</p>
    </div>

    <div id="pack-day" class="article-section">
      <h4>Packing Day</h4>

      <p>Your packing day and moving dates are not the same thing. On packing day, the moving company sends a team of packers to your home and puts all your items into boxes, usually as fast as possible. The day your boxes are loaded onto the truck for moving day could be several days later.</p>

      <p>The packers are supposed to call ahead of time to inform you they will be coming out on certain dates and within a specified time period. It's critical that you're available during this time. If for some reason the Moving Company fails to show, quickly notify your <%= link_to 'local personal property office (PPPO)', locations_path %>.</p>

      <div class="usa-grid-full">
        <div class="usa-width-one-third">
          <p>A team of packers will load just about anything and everything that they can fit into boxes, which means there's a risk that important items may get packed up unintentionally.</p>
          <p><strong><em>How should I pack?</em></strong><br>
          Pack your belongings with unpacking in mind. Where do you want these boxes to go in your new place? The master bedroom, living room, or kitchen? When you move <%= abbr_tag('oconus') %>, there can be a language barrier between you and your movers in the new host country.</p>
        </div>
        <div class="usa-width-two-thirds">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tips:</strong>
            <ul>
              <li><strong>Physically separate</strong> anything you plan to take/keep with you from the rest of your belongings into a closet or your vehicle before the packers arrive. Clearly mark this area with a "Do Not Pack" sign.</li>
              <li><strong>Invite friends and family</strong> to keep an eye on things during packing day. It can be really helpful if you can have someone shadowing the packers, making sure your inventory is accurate, potentially even taking photos of the inside of boxes as they are packed.</li>
              <li><strong>Label your boxes</strong> with a small piece of duct tape, each room with its own color. Others have found it helpful to number each room when you arrive in your host country, so that your movers know that the master bedroom is 1, the kitchen 2, and the living room 3.</li>
              <li><%= link_to 'View more tips', page_path('moving-guide/tips') %></li>
            </ul>
          <% end %>
        </div>
      </div>
      <p>Bottom line, if at any point something doesn't feel right, you should call your local personal property office and ask for the assistance from an inspector/quality assurance personnel.</p>
    </div>

    <div id="moving-day" class="article-section">
      <h4>Loading/Moving Day</h4>

      <p>On moving day, the driver of the truck is usually in charge of the show.  They are responsible for ensuring there is a crew and that everything is properly loaded onto the truck before departing. If you run into any issues during this phase, talk with the driver first and if they are unable to resolve the issue don’t hesitate to call your <%= link_to 'local personal property office', locations_path %> for help.</p>
      <p>The transportation company will be creating an inventory of all your household items and will put stickers on all the boxes and larger items (couches, large appliances, etc.).  On these inventory sheets, they will also be indicating whether or not there was any pre-existing damage to your household goods. If you disagree with their assessment make sure you annotate that on the inventory sheet!</p>

      <%= render layout: 'shared/pro_tip' do %>
        <strong>Pro-Tips:</strong>
        <ul>
          <li>Do a walkthrough with the driver to make sure everything is out of your residence and loaded up.  This will ensure that nothing gets left behind and if you see any damage to the residence you can annotate that on the forms provided.</li>
          <li>Ask the driver for their phone number so you can reach them if needed.</li>
          <li>If you don’t agree with something on that inventory form make sure you annotate that BEFORE signing in the remarks section!</li>
        </ul>
      <% end %>
    </div>

    <div id="getting-there" class="article-section">
      <h4>Getting There</h4>
      <p>All your bags are packed, and you’re ready to go? Even if you’re taking a military flight, make sure everyone in your family has a valid passport, unless you’re headed to Hawaii or Alaska. Family members not listed on the Orders may need visas. Don’t forget to pack your important files in your carry-on, along with things like a change of clothes, and medications. The long haul flight will be more comfortable with personal items like books or electronics, snacks, and water to keep hydrated. In your checked bags, pack items for immediate use, like clothes, shoes, and toiletries.</p>

      <p>When you arrive, expect a few in-processing steps. Depending on your host country, this could include briefings at different offices, and trips to different bases, immediately upon arrival. <%= link_to 'Transportation Office Locator', locations_path %></p>

      <p>During your travel keep any receipts of your out of pocket expenses,  things like hotel receipts, rental car, gasoline, tolls, etc. that may be needed when you file your voucher at the end.</p>
    </div>

    <div id="pets" class="article-section">
      <h4>Traveling with Pets</h4>

      <p>First, research your new destination’s rules and regulations about bringing pets. Start by contacting your <%= link_to 'local transportation office', locations_path %> to see if there are any breed restrictions, quarantine requirements, and timeline for vaccinations. Check the <%= link_to 'Defense Travel Management Office’s Pet FAQ', 'http://www.defensetravel.dod.mil/site/faqpet.cfm' %> for more information.</p>

      <p>
        <strong><em>Will my pet's expenses be reimbursed?</em></strong><br>
        For uniformed members on a PCS move, mandatory pet quarantine fees are reimbursable up to $550 per move. This is for dogs and cats only. There is no reimbursement for transportation fees, like airplane tickets, pet-friendly hotels, or kennels.
      </p>

      <p>For civilian employees, pet quarantine fees and transportation charges are included in the Miscellaneous Expense Allowance (MEA) you receive. If MEA expenses are itemized, reimbursement for those expenses, including pet quarantine fees and transportation charges, is allowed up to the applicable maximum amount authorized (JTR, par. 5818-D). Only quarantine and transportation costs associated with dogs, cats and other house pets are included. Other animals (horse, fish, birds, rodents, etc.) are excluded.</p>

      <p>
        <strong><em>How are my pets going to get there?</em></strong><br>
        During the summer months, most airlines won’t ship pets due to the heat, therefore it may be wise to let them stay with friends or family. You could send them home in advance or bring them to your new location after the temperatures have cooled down. Plus, you may be eligible to ship your pets via the <%= link_to 'Patriot Express Air Mobility Command Flight', 'http://www.amc.af.mil/Portals/12/Users/032/88/288/pet_brochure_may_2017[1].pdf?ver=2017-05-02-152244-670' %>.
      </p>
    </div>

    <div id="arrival" class="article-section">
      <h4>Arrival</h4>

      <p>Coordinate with your Sponsor, or new teammate to meet you at the airport.  A friendly smile from someone who understands what you just went through goes a long way. If your sponsor or organization is not available, reach out to the <%= link_to 'Transportation Office', locations_path %> and they can help coordinate for someone to meet you at the airport to ensure you know where to get settled.</p>

      <p>Have your important documents in a file ready to go when you land and go through customs.</p>

      <div class="usa-grid-full">
        <div class="usa-width-one-half">
          <ul>
            <li>Passports and Visas (where applicable)</li>
            <li>Orders</li>
            <li>A sheet of paper with your new base address, shuttles, rental car information (since you may not have cell service right away)</li>
          </ul>
        </div>
        <div class="usa-width-one-half">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tip:</strong> Don’t be surprised if your bags are searched in customs! Your new host country may have restricted items.
          <% end %>
        </div>
      </div>
    </div>

    <div id="delivery" class="article-section">
      <h4>Delivery</h4>

      <p>When the truck arrives, you will do a walk-through with the driver and the delivery crew. Identify any pre-existing damage to the residence and let them see the layout of the home to determine the best way to deliver your household goods.</p>

      <%= render layout: 'shared/pro_tip' do %>
        <strong>Pro-Tip:</strong> Number your rooms, so that if there is a language barrier in your new host country, everyone will know where the boxes should go.
      <% end %>

      <p>The delivery crew should put down some type of material (plastic, fabric, etc.) to protect some of your flooring and expect them to put some form of protection on any tight corners that may be in the residence as well.</p>
      <p>Get an <strong>inventory sheet</strong> from the driver, so that you can check off the numbers, and ensure that everything is delivered. Doing this yourself is in your best interest. As the boxes come off the truck, you should expect to direct them to a room in the residence where that item should be placed.</p>

      <div class="usa-grid-full">
        <div class="usa-width-two-thirds">
          <p>Once the truck is empty, verify on the inventory sheet that everything has been delivered. If not, those items need to be annotated on the inventory sheet before you sign off. Additionally, if you see any items come in damaged you can annotate that as well, but you’ll still have time to file a claim in case you missed it. This goes for any damage that may have occurred to the residence.</p>
        </div>
        <div class="usa-width-one-third">
          <%= render layout: 'shared/pro_tip' do %>
            <strong>Pro-Tip:</strong> Enlist your family or your Sponsor for help during this during this phase.
          <% end %>
        </div>
      </div>

      <p>Finally, you have a couple of options during the delivery phase about what items you want the delivery crew to unpack.</p>

      <ul>
	      <li>A full unpack: Movers empty the boxes of all their contents into the specified rooms.</li>
	      <li>A partial unpack: Movers only open boxes in select areas.</li>
        <li>Movers reassemble furniture that they took apart at the origin (beds, couches, etc.)</li>
      </ul>
    </div>

    <div id="clean-up" class="article-section">
      <%= render partial: 'pages/moving-guide/clean-up-claims' %>
    </div>


    <div id="new-country" class="article-section">
      <h4>Get to know your new host country</h4>
      <p>Finally, enjoy the transition to life in your new host country:</p>

      <ul>
        <li><strong><em>Take free language courses</em></strong> online and download translator apps. Simple phrases like hello, good-bye, yes, no, and thank you, go a long way to making you feel comfortable in this new place.</li>
        <li><strong><em>Research different neighborhoods</em></strong> around your new base. Aside from thinking about housing options, there are likely a number of local markets, festivals, historical monuments, and areas of interest nearby.</li>
        <li><strong><em>Join social groups</em></strong> for folks at your new base. Participating in a community will help you transition to your new normal. There are groups, blogs, and forums for everything from online yard sales, local food recommendations, to religious organizations, and family support groups.</li>
      </ul>

      <p>The Relocation Assistance Program is set up through your new location’s Military and Family Support Center, to help you make the most of your new host country.</p>
    </div>

  </div>
</div>
