<%- @page_title = 'Moving Tips' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <aside class="sidenav">
    <div class="sidenav-jump-to">
      Jump to:
    </div>
    <ul class="usa-sidenav-list">
      <li><%= link_to 'Prepping the Move', '#prepping-the-move' %></li>
      <li><%= link_to 'During the Move (Packing & Unloading)', '#during-the-move' %></li>
      <li><%= link_to 'At Your Destination', '#at-your-destination' %></li>
    </ul>
  </aside>

  <div class="sidenav-body what-to-expect-body">
    <div class="what-to-expect-intro">
      Whether this is your first move or you’re a seasoned expert… moving is stressful. While the hope would be that everything goes off without a hitch, we’ve combed service members and their families far and wide to compile some of the Top Tips to help you out.
      <br><br>
      This list certainly is not the end all be all, but it’s a great place to start!
    </div>

    <section class="what-to-expect-section" id="prepping-the-move">
      <h4>Prepping the Move</h4>
      <ul class="usa-accordion-bordered">
        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="choose-date">
            <div>
              <%= image_tag 'icons/calendar-blue.svg', alt: '', role: 'presentation' %>
              <span>Increase the likelihood of getting your preferred moving company by moving on historically less popular days.</span>
            </div>
          </button>
          <div id="choose-date" class="usa-accordion-content">
            If you find yourself in the midst of peak season (summer!) it can be difficult to get the dates you want for the packers and movers. History shows us <strong>the last week of the month and the last week of June/first week of July is typically the worst time to move...</strong> try for a mid-month type move. If you aren't moving during the summer time, the dates should be much easier to lock down.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="binder">
            <div>
              <%= image_tag 'icons/binder-blue.svg', alt: '', role: 'presentation' %>
              <span>Stay organized by creating a moving binder.</span>
            </div>
          </button>
          <div id="binder" class="usa-accordion-content">
            During a move you are going to need paperwork more often than you ever dreamed possible. Put together a brightly colored binder with sleeve protectors that contain copies of your orders, birth certificates, social security cards, mortgage documents, rental agreements, etc. It will make you feel even more organized than you already are.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="photo-inventory">
            <div>
              <%= image_tag 'icons/camera-blue.svg', alt: '', role: 'presentation' %>
              <span>Guard yourself from claims disputes later on by creating your own photo inventory.</span>
            </div>
          </button>
          <div id="photo-inventory" class="usa-accordion-content">
            You could inventory everything you own—27 forks, 12, knives, 6 spoons, 182 sippy cups. Or you could fling open your cabinets and take pictures of what you own. You can do the whole house in about an hour. If you need to make a claim, a photo is hard to dispute.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="photo-condition">
            <div>
              <%= image_tag 'icons/boards-blue.svg', alt: '', role: 'presentation' %>
              <span>Photograph the condition of your home on moving day before the packers arrive just in case the moving company causes any damage to your home.</span>
            </div>
          </button>
          <div id="photo-condition" class="usa-accordion-content">
            Was the dent in the wall before or after the movers arrived? If you ask the movers, that was always there... use your camera or cell phone to video the walls, floors, appliances, etc. so you’ll have digital proof of the condition of the home before they arrived. Be sure to pop on the TV or other appliances to show they are in working order too... when your washing machine shows up at the new place and doesn’t have any dents but no longer works this video becomes your proof! Once everything is out and looks good, go ahead and delete it to free up any space.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="ziplock">
            <div>
              <%= image_tag 'icons/ziplock-blue.svg', alt: '', role: 'presentation' %>
              <span>Prepare drawers and toy bins for packing by placing contents in ziplock bags before the packers come.</span>
            </div>
          </button>
          <div id="ziplock" class="usa-accordion-content">
            Packers have a habit of grabbing whatever small items are in a drawer and haphazardly putting them in boxes. When you get to your new place, you have to resort everything as well as unpack it. Save yourself some time by dumping anything small and already sorted into giant ziplocks.  Think silverware, spices, kitchen utensils, markers, pencils, toy bins.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="ziplock-parts">
            <div>
              <%= image_tag 'icons/screws-blue.svg', alt: '', role: 'presentation' %>
              <span>Have ziplock bags on standby to collect any loose hardware during furniture disassembly.</span>
            </div>
          </button>
          <div id="ziplock-parts" class="usa-accordion-content">
            Nothing gets lost quicker than the hardware that keeps beds together or mounts a TV to a bracket. Use little ziplocks to tape hardware from beds to bed frames so they all arrive together. This works for cords and curtain rings, too. Use a Sharpie to note what the items are and where they go. Plus, all too often the "parts" box can go missing which makes it difficult on the distant end.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="tv">
            <div>
              <%= image_tag 'icons/television-blue.svg', alt: '', role: 'presentation' %>
              <span>Take a picture of the back of your TV so that you can remember how to set it back up at your new location.</span>
            </div>
          </button>
          <div id="tv" class="usa-accordion-content">
            Remembering how everything gets plugged in to the TV is a hassle—and you will forget which cord goes with which device.  Take a picture and eliminate the mystery… and it doesn’t hurt to snap a video or photo of the serial number and the TV powered on and working.  This way if it shows up in the new place and no longer functions it will prove helpful during the claims process.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="unpacked-boxes">
            <div>
              <%= image_tag 'icons/boxes-blue.svg', alt: '', role: 'presentation' %>
              <span>Don’t move still packed boxes from your previous move - you probably don’t need them.</span>
            </div>
          </button>
          <div id="unpacked-boxes" class="usa-accordion-content">
            The number rule tip professional organizers like to give is: if you haven’t used an item in two years, you don’t need it anymore. Since military families move every 2.5 years, this means that if you haven’t used an item in your current house, you are probably not going to need it in your next house. This especially applies to those brown cardboard boxes of stuff from the past four duty stations that you never unpacked. Let 'em go. (Unless you are moving away from Okinawa or Hawaii or Florida—then you really are going to need your winter coats.)
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="unmount">
            <div>
              <%= image_tag 'icons/window-blue.svg', alt: '', role: 'presentation' %>
              <span>Remove wall-mounted items from the walls before the packers arrive.</span>
            </div>
          </button>
          <div id="unmount" class="usa-accordion-content">
            Those curtains that you picked up at the local store for the living room and the baby portrait of your first born need to come down. The packers will not take those things down, so make sure all the pictures, curtains, curtain rods and mounted TVs are down for them to pack. Don’t forget the small ziplock bag tip on this one and you can tape the hardware to the back of the pictures... makes putting everything back up much easier.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="do-not-pack">
            <div>
              <%= image_tag 'icons/car-box-blue.svg', alt: '', role: 'presentation' %>
              <span>Block off a special "Do Not Pack" spot for any items you will need on your road trip or deem special.</span>
            </div>
          </button>
          <div id="do-not-pack" class="usa-accordion-content">
            Any items that you’ll need on your road trip or items that you deem special should be separated from the packers. Whether that means you put these items in your car or a closet in the house with a sign taped to the door "Do Not Pack" - make sure they know so your car keys don’t end up in a moving box. This goes for professional gear (dubbed "Pro-Gear" or PBP&amp;E)... this is typically the members' and their spouses' uniforms, professional books and papers required to perform their job.
          </div>
        </li>
      </ul>
    </section>

    <section class="what-to-expect-section" id="during-the-move">
      <h4>During the Move</h4>
    </section>

    <section class="what-to-expect-section" id="at-your-destination">
      <h4>At Your Destination</h4>
    </section>
  </div>
</div>
