<%- @page_title = 'Moving Tips' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <p>Whether this is your first move or you’re a seasoned expert… moving is stressful. While the hope would be that everything goes off without a hitch, we’ve combed service members and their families far and wide to compile some of the Top Tips to help you out.</p>
    <p>This list certainly is not the end all be all, but it’s a great place to start!</p>

    <div class="tabs" id="tabs">
      <ul class="tabs-list">
        <li><a href="#prepping-the-move" id="tab-prepping-the-move">Prepping the Move</a></li>
        <li><a href="#during-the-move" id="tab-during-the-move">During the Move <span>(Packing &amp; Loading)</span></a></li>
        <li><a href="#at-your-destination" id="tab-at-your-destination">At Your Destination</a></li>
      </ul>

      <section class="moving-tips-section tabs-panel" id="prepping-the-move">
        <div class="usa-media_block">
          <%= image_tag 'icons/clipboard-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Start planning …but not too soon.</h3>
            <p>Most of us hear the words “orders” and start planning (read: fretting) about a move months and months before we even know where we are going. Most moving chores aren’t really accomplished until a couple of months before the actual move. Keep the crazy-making to a minimum by waiting for the actual orders to arrive.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/calendar-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>It’s a date!</h3>
            <p>If you find yourself in the midst of peak season (summer!) it can be difficult to get the dates you want for the packers and movers. History shows us the last week of the month and the last week of June/first week of July is typically the worst time to move… try for a mid-month type move. If you aren’t moving during the summer time, the dates should be much easier to lock down.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/binder-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Create a moving binder.</h3>
            <p>During a move you are going to need paperwork more often than you ever dreamed possible. Put together a brightly colored binder with sleeve protectors that contain copies of your orders, birth certificates, social security cards, mortgage documents, rental agreements etc. It will make you feel even more organized than you already are.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/house-sign-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Put your house on a diet.</h3>
            <p>Every house gains weight between moves. So a move is a perfect time to ask:  Who are we now? And, How much of this stuff do I want to unpack again??  Then adopt a decluttering technique like going through the house and getting rid of 10 items every day. Throw things away that are broken or used up. Collect items and have a yard sale. Make a drop off at the base thrift store or local collecting bin once a week. Think EBay, Etsy, Craigslist.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/washer-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Put your washer in overdrive.</h3>
            <p>One of the nice things about a move is that you get a fresh start. It is so much nicer to start over with things that are clean. A month before you move, start washing (or taking to the cleaners) curtains, slipcovers, pillow covers. Make a staging area of your house where the newly cleaned items stay until the packers arrive.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/camera-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Inventory by Camera.</h3>
            <p>You could inventory everything you own—27 forks, 12, knives, 6 spoons, 182 sippy cups. Or you could fling open your cabinets and take pictures of what you own. You can do the whole house in about an hour. If you need to make a claim, a photo is hard to dispute.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/boards-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Don’t put the camera away yet!</h3>
            <p>Was the dent in the wall before or after the movers arrived?  If you ask the movers, they'll say that dent was always there. Use your camera or cell phone to video the walls, floors, appliances, etc. so you’ll have digital proof of the condition of the home before they arrived. Be sure to turn on the TV and any appliances you are taking to show they are in working order too. If your washing machine shows up at the new place and no longer works, then this video becomes your proof!</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/ziplock-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Giant Ziplocks are your new best friend.</h3>
            <p>Packers have a habit of grabbing whatever small items are in a drawer and haphazardly putting them in boxes. When you get to your new place, you have to re-sort everything as well as unpack it. Save yourself some time by dumping anything small and already sorted into giant ziplocks. Think silverware, spices, kitchen utensils, markers, pencils, toy bins.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/screws-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Little Ziplocks are a even better friend.</h3>
            <p>Nothing gets lost quicker than the hardware that keeps beds together or mounting a TV to a bracket. Use little ziplocks to tape hardware from beds to bed frames so they all arrive together. This works for cords and curtain rings, too. Use a Sharpie to note what the items are and where they go. Plus, all too often the “parts” box can go missing which makes it difficult on the distant end.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/television-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Take a picture of the back of your TV.</h3>
            <p>Remembering how everything gets plugged in to the TV is a hassle—and you will forget which cord goes with which device. Take a picture and eliminate the mystery… and it doesn’t hurt to snap a video or photo of the serial number and the TV powered on and working. This way if it shows up in the new place and no longer functions it will prove helpful during the claims process.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/liquids-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Go liquid free.</h3>
            <p>Once the packers arrive, a giant stack of liquid items will appear in your kitchen. Liquids and chemicals don’t move. You know that. But it still hurts to see hundreds of dollars in liquids get thrown away. In the months before you leave, don’t buy a new bottle of vanilla, a pricey shampoo, a gallon of fabric softener. Instead, make it a game to make do with what you have. Also, switch to the powder form of detergents for this time period. If all else fails, take it you in your car to your next spot or leave it for the new tenants!</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/boxes-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Don’t move boxes from your previous move.</h3>
            <p>The number rule tip professional organizers like to give is:  if you haven’t used an item in two years, you don’t need it anymore. Since military families move every 2.5 years, this means that if you haven’t used an item in your current house, you are probably not going to need it in your next house. This especially applies to those brown cardboard boxes of stuff from the past four duty stations that you never unpacked.  Let ‘em go. (Unless you are moving away from Okinawa or Hawaii or Florida—then you really are going to need your winter coats.)</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/window-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>From the windows… to the walls.</h3>
            <p>Those curtains that you picked up at the local store for the living room and the baby portrait of your first born need to come down. The packers will not take those things down, so make sure all the pictures, curtains and curtain rods are down for them to pack. Don’t forget the small ziplock bag tip on this one and you can tape the hardware to the back of the pictures… makes putting everything back up much easier.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%= image_tag 'icons/boxed-devices-blue.svg', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Separation makes the heart grow fonder.</h3>
            <p>Any items that you’ll need on your road trip or items that you deem special should be separated from the packers. Whether that means you put these items in your car or a closet in the house with a sign taped to the door “Do Not Pack” - make sure they know so your car keys don’t end up in a moving box. This goes for professional gear (dubbed “Pro-Gear” or PBP&E)... this is typically the members and their spouses uniforms, professional books and papers required to perform their job.</p>
          </div>
        </div>
      </section>

      <section class="moving-tips-section tabs-panel" id="during-the-move">
        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Beg for a playdate.</h3>
            <p>You are much more likely to have friends offer to keep your kids when you are moving out than when you are moving in. Not only should you say yes to any offers of help with your kids, but you should actively ask for help on moving days. It might also be a good time for the kids to visit their grandparents.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Packers are more important than movers.</h3>
            <p>Most people focus their efforts on the movers. Movers can be picked up off the street on the day of a move. Packers are the experienced professional. They can make sure your breakable stuff has the best chance of arriving unbroken. Learn their names. Offer to run out and get them a lunch and make sure the fridge is stocked with waters and other beverages. Praise the nice job that they are doing or start up some small talk —and they typically do a nicer job.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Remember you can “fire” your movers and packers.</h3>
            <p>If something seems to be going very, very wrong on your move (movers are fighting, things are getting damaged, movers are doing crack in your bathroom) call the transportation office immediately!  They will send a representative over to sort things out. Don’t become another nightmare move story!</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Power of the pen!</h3>
            <p>Ok… no one likes doing paperwork but if you spend just a few extra minutes reviewing the inventory sheets on the front end it will make your life much easier during delivery of your goods. The movers will identify any dings, dents, scratches, etc. (aka pre-existing damage) on the inventory form and you need to make sure that's accurate!  Your brand new dining table that is flawless should not be marked down as having a chip in it… this will make the claims process much easier. Also, for high value items, make sure the inventory specifies the make, model and serial number of the item. Generic labels, like “Electronics,” “TV,” etc. should be a huge red flag for you. If they miss something, you can request that they unpack the item so that the specific details can be added to the inventory.</p>
            <p>If you disagree with the survey, write it in the remarks section. Your future self will thank you - I promise. Don’t be afraid to call the transportation office if you aren’t sure about something!</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Throw out your toilet brush.</h3>
            <p>Some items just aren’t as much a part of the family when you get to the new place as they were at the old place. The toilet brush is one of those. Old mops and brooms that have become, well, less that their former selves need to be used one last time at the old place.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Clean out your trash can!</h3>
            <p>Simply put, empty the trash can and maybe give it a once over with a wipe to make sure it’s clean before the movers pack it up. You don’t want to have a box packed up with your trash in it and you definitely don’t want to put in your stinky old trash can.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Don’t let your “First Day” box go on the truck.</h3>
            <p>Think long and hard about the necessities of those first few days at the new house. Even if your belongings are arriving “door-to-door” plan for an extra day or two without your things, because delays happen, especially in summer.</p>
            <p>Make a list of the things you are going to buy before you arrive at your new house:  toilet paper, paper towels, handsoap, cleaners, toilet brush, broom, mop, drinks, snacks, diapers, etc. Then pack an extra bag (not a box, boxes are a struggle during the move) with sheets, towels, and an air mattress. Forget pots, pans and dishes. This is a time for takeout. Or peanut butter and jelly sandwiches.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Check that medicine cabinet.</h3>
            <p>While you may not need those prescription pain killers right now, you certainly do not want to be without them on the move or when you arrive at the new location. Some members have even said these bottles have grown legs and gone missing… so grab a small ziplock bag and pack them away to take with you if possible.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Divide the kids and the cleaning.</h3>
            <p>After the move, you may have to clean your house (rental, on base/post, etc.). This is nearly impossible with kids and pets underfoot. Kids are anxious and needy during a move—just like their parents. So have one partner take the kids and pets to the hotel and put the other partner in charge of the final cleaning. Consider hiring a local cleaner because they often understand the requirements of the housing office better than you do.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>Two sets of eyes are better than one.</h3>
            <p>Shoot… if you get get four set of eyes, that’s even better than two. While you can certainly be the only person in the house, it does help to have an extra set of eyes on everything that’s going on especially if you have to run out to pick up that lunch you promised the packers.</p>
          </div>
        </div>

        <div class="usa-media_block">
          <%# TODO: image_tag '', alt: '', class: 'usa-media_block-img', role: 'presentation' %>
          <div class="usa-media_block-body">
            <h3>What’s in there?</h3>
            <p>Here’s another situation when your future self will thank you… we all know that a box labeled  “Kitchen - Misc” sounds super detailed but when you arrive at your new spot and you NEED that one tool/toy/utensil right away, digging through 13 other boxes to find it can be frustrating. If at all possible, add a few additional notes to the boxes… pots pans, utensils, toy trucks, hammer, etc.</p>
          </div>
        </div>
      </section>

      <section class="moving-tips-section tabs-panel" id="at-your-destination">
        <%# TODO: Add 'At Your Destination' section content  %>

        <p>Coming soon!</p>
      </section>
    </div>
  </div>
</div>
