<%- @page_title = 'Moving Tips' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section moving-tips">
  <h1><%= @page_title %></h1>

  <%= render layout: 'shared/sidenav' do %>
    <li><%= link_to 'Prepping the Move', '#prepping-the-move' %></li>
    <li><%= link_to 'During the Move (Packing & Unloading)', '#during-the-move' %></li>
    <li><%= link_to 'At Your Destination', '#at-your-destination' %></li>
  <% end %>

  <div class="sidenav-body">
    <div class="article-intro">
      Whether this is your first move or you’re a seasoned expert… moving is stressful. While the hope would be that everything goes off without a hitch, we’ve combed service members and their families far and wide to compile some of the Top Tips to help you out.
      <br><br>
      This list certainly is not the end all be all, but it’s a great place to start!
    </div>

    <section class="article-section" id="prepping-the-move">
      <h4>Prepping the Move</h4>
      <ul class="usa-accordion-bordered">
        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="choose-date">
            <div>
              <%= image_tag 'icons/calendar-blue.svg', alt: '', role: 'presentation' %>
              <span>Increase the likelihood of getting your preferred moving company by moving on historically less popular days.</span>
            </div>
          </button>
          <div id="choose-date" class="usa-accordion-content">
            If you find yourself in the midst of peak season (summer!) it can be difficult to get the dates you want for the packers and movers. History shows us <strong>the last week of the month and the last week of June/first week of July is typically the worst time to move...</strong> try for a mid-month type move. If you aren't moving during the summer time, the dates should be much easier to lock down.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="binder">
            <div>
              <%= image_tag 'icons/binder-blue.svg', alt: '', role: 'presentation' %>
              <span>Stay organized by creating a moving binder.</span>
            </div>
          </button>
          <div id="binder" class="usa-accordion-content">
            During a move you are going to need paperwork more often than you ever dreamed possible. Put together a brightly colored binder with sleeve protectors that contain copies of your orders, birth certificates, social security cards, mortgage documents, rental agreements, etc. It will make you feel even more organized than you already are.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="photo-inventory">
            <div>
              <%= image_tag 'icons/camera-blue.svg', alt: '', role: 'presentation' %>
              <span>Guard yourself from claims disputes later on by creating your own photo inventory.</span>
            </div>
          </button>
          <div id="photo-inventory" class="usa-accordion-content">
            You could inventory everything you own—27 forks, 12, knives, 6 spoons, 182 sippy cups. Or you could fling open your cabinets and take pictures of what you own. You can do the whole house in about an hour. If you need to make a claim, a photo is hard to dispute.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="photo-condition">
            <div>
              <%= image_tag 'icons/boards-blue.svg', alt: '', role: 'presentation' %>
              <span>Photograph the condition of your home on moving day before the packers arrive just in case the moving company causes any damage to your home.</span>
            </div>
          </button>
          <div id="photo-condition" class="usa-accordion-content">
            Was the dent in the wall before or after the movers arrived? If you ask the movers, that was always there... use your camera or cell phone to video the walls, floors, appliances, etc. so you’ll have digital proof of the condition of the home before they arrived. Be sure to pop on the TV or other appliances to show they are in working order too... when your washing machine shows up at the new place and doesn’t have any dents but no longer works this video becomes your proof! Once everything is out and looks good, go ahead and delete it to free up any space.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="ziplock">
            <div>
              <%= image_tag 'icons/ziplock-blue.svg', alt: '', role: 'presentation' %>
              <span>Prepare drawers and toy bins for packing by placing contents in ziplock bags before the packers come.</span>
            </div>
          </button>
          <div id="ziplock" class="usa-accordion-content">
            Packers have a habit of grabbing whatever small items are in a drawer and haphazardly putting them in boxes. When you get to your new place, you have to resort everything as well as unpack it. Save yourself some time by dumping anything small and already sorted into giant ziplocks.  Think silverware, spices, kitchen utensils, markers, pencils, toy bins.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="ziplock-parts">
            <div>
              <%= image_tag 'icons/screws-blue.svg', alt: '', role: 'presentation' %>
              <span>Have ziplock bags on standby to collect any loose hardware during furniture disassembly.</span>
            </div>
          </button>
          <div id="ziplock-parts" class="usa-accordion-content">
            Nothing gets lost quicker than the hardware that keeps beds together or mounts a TV to a bracket. Use little ziplocks to tape hardware from beds to bed frames so they all arrive together. This works for cords and curtain rings, too. Use a Sharpie to note what the items are and where they go. Plus, all too often the "parts" box can go missing which makes it difficult on the distant end.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="tv">
            <div>
              <%= image_tag 'icons/television-blue.svg', alt: '', role: 'presentation' %>
              <span>Take a picture of the back of your TV so that you can remember how to set it back up at your new location.</span>
            </div>
          </button>
          <div id="tv" class="usa-accordion-content">
            Remembering how everything gets plugged in to the TV is a hassle—and you will forget which cord goes with which device.  Take a picture and eliminate the mystery… and it doesn’t hurt to snap a video or photo of the serial number and the TV powered on and working.  This way if it shows up in the new place and no longer functions it will prove helpful during the claims process.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="unpacked-boxes">
            <div>
              <%= image_tag 'icons/boxes-blue.svg', alt: '', role: 'presentation' %>
              <span>Don’t move still packed boxes from your previous move - you probably don’t need them.</span>
            </div>
          </button>
          <div id="unpacked-boxes" class="usa-accordion-content">
            The number one tip professional organizers like to give is: if you haven’t used an item in two years, you don’t need it anymore. Since military families move every 2.5 years, this means that if you haven’t used an item in your current house, you are probably not going to need it in your next house. This especially applies to those brown cardboard boxes of stuff from the past four duty stations that you never unpacked. Let 'em go. (Unless you are moving away from Okinawa or Hawaii or Florida—then you really are going to need your winter coats.)
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="unmount">
            <div>
              <%= image_tag 'icons/window-blue.svg', alt: '', role: 'presentation' %>
              <span>Remove wall-mounted items from the walls before the packers arrive.</span>
            </div>
          </button>
          <div id="unmount" class="usa-accordion-content">
            Those curtains that you picked up at the local store for the living room and the baby portrait of your first born need to come down. The packers will not take those things down, so make sure all the pictures, curtains, curtain rods and mounted TVs are down for them to pack. Don’t forget the small ziplock bag tip on this one and you can tape the hardware to the back of the pictures... makes putting everything back up much easier.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="do-not-pack">
            <div>
              <%= image_tag 'icons/car-box-blue.svg', alt: '', role: 'presentation' %>
              <span>Block off a special "Do Not Pack" spot for any items you will need on your road trip or deem special.</span>
            </div>
          </button>
          <div id="do-not-pack" class="usa-accordion-content">
            Any items that you’ll need on your road trip or items that you deem special should be separated from the packers. Whether that means you put these items in your car or a closet in the house with a sign taped to the door "Do Not Pack" - make sure they know so your car keys don’t end up in a moving box. This goes for professional gear (dubbed "Pro-Gear" or PBP&amp;E)... this is typically the members' and their spouses' uniforms, professional books and papers required to perform their job.
          </div>
        </li>
      </ul>
    </section>

    <section class="article-section" id="during-the-move">
      <h4>During the Move (Packing &amp; Unloading)</h4>

      <ul class="usa-accordion-bordered">
        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="playdate">
            <div>
              <%= image_tag 'icons/playdate-blue.svg', alt: '', role: 'presentation' %>
              <span>Beg for a playdate.</span>
            </div>
          </button>
          <div id="playdate" class="usa-accordion-content">
            You are much more likely to have friends offer to keep your kids when you are moving out than when you are moving in. Not only should you say yes to any offers of help with your kids, but you should actively ask for help on moving days. People are willing or maybe it’s time for the kids to visit with the grandparents.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="packers">
            <div>
              <%= image_tag 'icons/packing-blue.svg', alt: '', role: 'presentation' %>
              <span>Packers are more important than movers.</span>
            </div>
          </button>
          <div id="packers" class="usa-accordion-content">
            Most people focus their efforts on the movers. Movers can be picked up off the street on the day of a move. Packers are the experienced professionals. They can make sure your breakable stuff has the best chance of arriving unbroken. Learn their names. Offer to run out and get them a lunch and make sure the fridge is stocked with waters and other beverages. Praise the nice job that they are doing or start up some small talk — and they typically do a nicer job.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="fire">
            <div>
              <%= image_tag 'icons/fire-blue.svg', alt: '', role: 'presentation' %>
              <span>Remember you can “fire” your movers and packers.</span>
            </div>
          </button>
          <div id="fire" class="usa-accordion-content">
            If something seems to be going very, very wrong on your move (movers are fighting, things are getting damaged, you feel uncomfortable, etc.) call your <%= link_to raw("local personal property office (#{abbr_tag('pppo')})"), locations_path %> immediately! They will send a representative over to sort things out. Don’t become another <%= link_to 'nightmare move story', page_path('moving-guide/nightmare-moves') %>!
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="sign-inventory">
            <div>
              <%= image_tag 'icons/inventory-blue.svg', alt: '', role: 'presentation' %>
              <span>Don’t sign the mover’s inventory until you understand and agree with everything listed. If you disagree, make sure write it in the remarks section!</span>
            </div>
          </button>
          <div id="sign-inventory" class="usa-accordion-content">
            Ok... no one likes doing paperwork but if you spend just a few extra minutes reviewing the inventory sheets on the front end it will make your life much easier during delivery of your goods. The movers will identify any dings, dents, scratches, etc. (aka pre-existing damage) on the inventory form and you need to make sure that's accurate! Your brand new dining table that is flawless should not be marked down as having a chip in it... this will make the claims process much easier. Also, for high value items, make sure the inventory specifies the make, model and serial number of the item. Generic labels like "Electronics", "TV", etc. should be a huge red flag for you. If they miss something, you can request that they unpack the item so that the specific details can be added to the inventory.
            <br>
            If you disagree with the survey, write it in the remarks section.  Your future self will thank you - I promise. Don’t be afraid to call the transportation office if you aren’t sure about something!
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="old-supplies">
            <div>
              <%= image_tag 'icons/toilet-brush-blue.svg', alt: '', role: 'presentation' %>
              <span>Throw out your old toilet brush, mops and brooms before you move. Treat yourself to new ones in you new house.</span>
            </div>
          </button>
          <div id="old-supplies" class="usa-accordion-content">
            Some items just aren’t as much a part of the family when you get to the new place as they were at the old place. The toilet brush is one of those. Old mops and brooms that have become, well, less than their former selves need to be used one last time at the old place.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="trash">
            <div>
              <%= image_tag 'icons/trash-blue.svg', alt: '', role: 'presentation' %>
              <span>Clean out your trash before the packers come.</span>
            </div>
          </button>
          <div id="trash" class="usa-accordion-content">
            Simply put, empty the trash can and maybe give it a once over with a wipe to make sure it’s clean before the movers pack it up. You don’t want to have a box packed up with your trash in it and you definitely don’t want to put in your stinky old trash can.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="necessities">
            <div>
              <%= image_tag 'icons/suitcases-blue.svg', alt: '', role: 'presentation' %>
              <span>Don’t let your "First Day" box and any other necessities go on the truck.</span>
            </div>
          </button>
          <div id="necessities" class="usa-accordion-content">
            Think long and hard about the necessities of those first few days at the new house. Even if your belongings are arriving "door-to-door" plan for an extra day or two without your things because delays happen, especially in summer.
            <br><br>
            Make a list of the things you are going to buy before you arrive at your new house: toilet paper, paper towels, hand soap, cleaners, toilet brush, broom, mop, drinks, snacks, diapers, etc. Then pack an extra bag (not a box, boxes are a struggle during the move) with sheets, towels, and an air mattress. Forget pots, pans and dishes. This is a time for takeout. Or peanut butter and jelly sandwiches.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="medicine">
            <div>
              <%= image_tag 'icons/medicine-blue.svg', alt: '', role: 'presentation' %>
              <span>Empty the medicine cabinet and plan to take it with you.</span>
            </div>
          </button>
          <div id="medicine" class="usa-accordion-content">
            While you may not need those prescription pain killers right now, you certainly do not want to be without them on the move or when you arrive at the new location. Some members have even said these bottles have grown legs and gone missing... so grab a small ziplock bag and pack them away to take with you if possible.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="friends">
            <div>
              <%= image_tag 'icons/friends-blue.svg', alt: '', role: 'presentation' %>
              <span>Two sets of eyes are better than one. Invite good friends and neighbors to your house to keep an eye on the packers.</span>
            </div>
          </button>
          <div id="friends" class="usa-accordion-content">
            Shoot... if you get four set of eyes, that’s even better than two.  While you can certainly be the only person in the house, it does help to have an extra set of eyes on everything that’s going on, especially if you have to run out to pick up that lunch you promised the packers.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="labels">
            <div>
              <%= image_tag 'icons/box-label-blue.svg', alt: '', role: 'presentation' %>
              <span>Have the packers show you the inside of each box before they tape it. You can make additional notes on the outside describing exactly what is in there!</span>
            </div>
          </button>
          <div id="labels" class="usa-accordion-content">
            Here’s another situation when your future self will thank you... we all know that a box labeled  "Kitchen - Misc" sounds super detailed but when you arrive at your new spot and you NEED that one tool/toy/utensil right away, digging through 13 other boxes to find it can be frustrating. If at all possible, add a few additional notes to the boxes... pots pans, utensils, toy trucks, hammer, etc.
          </div>
        </li>
      </ul>
    </section>

    <section class="article-section" id="at-your-destination">
      <h4>At Your Destination</h4>

      <ul class="usa-accordion-bordered">
        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="csi">
            <div>
              <%= image_tag 'icons/inspect-blue.svg', alt: '', role: 'presentation' %>
              <span>Play CSI with your new place. Document any pre-existing damage and plan where you might want your furniture to go.</span>
            </div>
          </button>
          <div id="csi" class="usa-accordion-content">
            Take photos of your new empty house before you move in. It is easier to document the damage to the carpet if you take your pictures now. This can be a good job for a preteen or teen.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="clean">
            <div>
              <%= image_tag 'icons/mop-blue.svg', alt: '', role: 'presentation' %>
              <span>Take time to pre-clean the new bathroom and kitchen.</span>
            </div>
          </button>
          <div id="clean" class="usa-accordion-content">
            Yes, yes, the previous tenants were supposed to remove all physical evidence that they ever lived in your new place. They never do. So allow enough time to clean before the movers arrive with all your stuff. Bonus if you took any cleaning "leftovers" from your previous place. It makes the unpacking go easier.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="unpack">
            <div>
              <%= image_tag 'icons/unpack-blue.svg', alt: '', role: 'presentation' %>
              <span>Only unpack one box at a time.</span>
            </div>
          </button>
          <div id="unpack" class="usa-accordion-content">
            It is easy to open a box, decide you have no idea where all that stuff is gonna go, and then move on to the next box. That’s a good way to end up with half unpacked boxes everywhere and a nervous breakdown like you have never seen before. Resolve that once you open a box, you will empty it completely then break down the box.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="game">
            <div>
              <%= image_tag 'icons/timer-blue.svg', alt: '', role: 'presentation' %>
              <span>Make unpacking into a family game — how many boxes can each person unpack in an hour?</span>
            </div>
          </button>
          <div id="game" class="usa-accordion-content">
            Boxes can get overwhelming. Race yourself to see how many boxes you can unpack in an hour. Or tell your kids that you are going to work together to unpack these four boxes then go to the new park. Keep moving forward. What are you going to do with all those boxes? Remember the movers will come back once to take them away for your or you can always offer them up to any neighbors that might be getting ready for a move.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="roles">
            <div>
              <%= image_tag 'icons/floor-plan-blue.svg', alt: '', role: 'presentation' %>
              <span>Assign roles to your family while the movers are unpacking. One person can check off box numbers while the other person worries about where things will go.</span>
            </div>
          </button>
          <div id="roles" class="usa-accordion-content">
            Sometimes moving back in is more stressful as the movers are coming at you quickly with heavy boxes... stacked up high... shouting out inventory numbers... asking where these need to go. You want to get them an answer quickly to keep things moving as a traffic cop but you don’t want to miss checking off that number on the inventory list. Here is where having another person (or two!) is a huge help to get things in the right place. Remember... the movers are only obligated to place furniture, boxes, etc. down in a spot once. After they’ve carried your 800 pound dresser up three flights of stairs you can’t change your mind and have them put it in the basement.
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="crates">
            <div>
              <%= image_tag 'icons/crates-blue.svg', alt: '', role: 'presentation' %>
              <span>Save any crates you got with your move - you will need to reuse it on your next move.</span>
            </div>
          </button>
          <div id="crates" class="usa-accordion-content">
            Did you have something “crated” up for this most recent move... maybe a TempurPedic mattress or your priceless painting? That’s awesome and hopefully it arrived in one piece when you got to your new place. But wait... don’t toss that crate in the garbage or use it as the base for your kid's fort. You actually need to KEEP that crate for future moves.  The government will only pay for one crate and if you request one for that same painting in the future they may deny it... so you would have to pay the bill!
          </div>
        </li>

        <li>
          <button class="usa-accordion-button moving-tips-accordion-button" aria-controls="document">
            <div>
              <%= image_tag 'icons/couch-blue.svg', alt: '', role: 'presentation' %>
              <span>Document and report any damage to your TSP as it comes in the house.</span>
            </div>
          </button>
          <div id="document" class="usa-accordion-content">
            Footprints on your mattress, nicks in your table leg? As things are unpacked photograph any damage immediately. Also, make sure you point out this damage to the truck driver - ask them to document the damage as well. This can help with any claims negotiations later on.
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
