<div class="location-search-result">
  <div class="location-search-result-header">
    <b><%= office.name %></b>
  </div>

  <div class="location-search-result-body">
    <div class="location-search-result-info">
      <div class="location-search-result-address">
        <strong>Location:</strong><br>
        <%= office.street_address %><br>
        <%= raw("#{office.extended_address}<br>") if office.extended_address? %>
        <%= office.locality %>, <%= office.region %> <%= office.postal_code %><br>
        <%= office.country_name %>
      </div>

      <%- if office.phone_numbers.any? || office.email_addresses.any? -%>
        <div class="location-search-result-contact">
          <%- if office.phone_numbers.any? -%>
            <br>
            <b>Phone:</b><br>
            <%- office.phone_numbers.each do |phone_number| -%>
              <%= "#{phone_number['note']}: " if phone_number['note'] %>
              <%= phone_number['phone_number'] %> (<%= phone_number['phone_type'] %>)<%= ' (DSN)' if phone_number['dsn'] %><br>
            <%- end -%>
          <%- end -%>

          <%- if office.email_addresses.any? -%>
            <br>
            <b>Email:</b><br>
            <%- office.email_addresses.each do |email_address| -%>
              <%= "#{email_address['note']}: " if email_address['note'] %>
              <%= mail_to email_address['email_address'] %><br>
            <%- end -%>
          <%- end -%>
        </div>
      <%- end -%>

      <%- if office.shipping_office -%>
        <div class="shipping-office-contact">
          <b>Regional Processing Office</b><br>
          <%= office.shipping_office.name %><br>

          <%- if office.shipping_office.email_addresses.any? -%>
            <br>
            <b>Phone:</b><br>
            <%- office.shipping_office.phone_numbers.each do |phone_number| -%>
              <%= "#{phone_number['note']}: " if phone_number['note'] %>
              <%= phone_number['phone_number'] %> (<%= phone_number['phone_type'] %>)<%= ' (DSN)' if phone_number['dsn'] %><br>
            <%- end -%>
          <%- end -%>

          <%- if office.shipping_office.email_addresses.any? -%>
            <br>
            <b>Email:</b><br>
            <%- office.shipping_office.email_addresses.each do |email_address| -%>
              <%= "#{email_address['note']}: " if email_address['note'] %>
              <%= mail_to email_address['email_address'] %><br>
            <%- end -%>
          <%- end -%>
        </div>
      <%- end -%>
    </div>
  </div>
</div>
