<div class="transportation-office" data-latitude="<%= transportation_office.latitude %>" data-longitude="data-longitude">
  <div class="transportation-office-header">
    <b><%= transportation_office.name %></b>
  </div>

  <div class="transportation-office-body">
    <b>Location:</b><br>
    <%= transportation_office.street_address %><br>
    <%- if transportation_office.extended_address? -%>
      <%= transportation_office.extended_address %><br>
    <%- end -%>
    <%= transportation_office.locality %>, <%= transportation_office.region %> <%= transportation_office.postal_code %><br>
    <%= transportation_office.country_name %><br>

    <%- if transportation_office.phone_numbers.any? -%>
      <br>
      <b>Phone:</b><br>
      <%- transportation_office.phone_numbers.each do |phone_number| -%>
        <%= "#{phone_number['note']}: " if phone_number['note'] %>
        <%= phone_number['phone_number'] %> (<%= phone_number['phone_type'] %>)<%= ' (DSN)' if phone_number['dsn'] %><br>
      <%- end -%>
    <%- end -%>

    <%- if transportation_office.email_addresses.any? -%>
      <br>
      <b>Email:</b><br>
      <%- transportation_office.email_addresses.each do |email_address| -%>
        <%= "#{email_address['note']}: " if email_address['note'] %>
        <%= mail_to email_address['email_address'] %><br>
      <%- end -%>
    <%- end -%>

    <%= render partial: 'shipping_office', object: transportation_office.shipping_office if transportation_office.shipping_office %>
  </div>
</div>
