<%- @page_title = 'Locator Maps' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <p>Find local Transportation Offices (PPPO) and Truck Weight Scales.</p>

    <%- if @error_message -%>
      <div class="usa-alert usa-alert-error" role="alert">
        <div class="usa-alert-body">
          <p class="usa-alert-text"><%= @error_message %></p>
        </div>
      </div>
    <%- end -%>

    <%= form_with url: offices_path, class: 'usa-form', method: 'get' do |form| %>
      <%= form.label :postal_code, 'Search by ZIP Code', class: 'usa-input-required' %>
      <%= form.number_field :postal_code, aria: { required: true }, id: 'postal_code', pattern: '^\d{5}$', placeholder: 'Search by ZIP Code', require: true, value: params[:postal_code] %>

      <button>Search</button>
    <% end %>

    <%- if @transportation_offices -%>
      <%= tag.div class: 'locator-map', id: 'locator-map',
            data: {
              latitude: @zip_code.latitude,
              longitude: @zip_code.longitude,
              'marker-icon-path': asset_path('locator/map_pppo.svg'),
              'marker-icon-2x-path': asset_path('locator/map_pppo.svg'),
              'marker-shadow-path': asset_path('leaflet/dist/images/marker-shadow.png')
            }
      %>

      <p>Displaying results near <b><%= @zip_code.zip_code %></b>.</p>

      <div id="search-results">
        <%= render partial: 'transportation_office', collection: @transportation_offices %>
      </div>

      <%= will_paginate @transportation_offices %>
    <%- end -%>
  </div>
</div>
