<%- @page_title = 'Frequently Asked Questions' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <%# TODO Hide the checkboxes when the screen is too narrow %>
    <div class="usa-grid-full" id="faq-filters">

      <fieldset class="usa-width-one-third usa-fieldset-inputs usa-sans">
        <ul class="usa-unstyled-list">
          <li>
            <input id="claims-checkbox" type="checkbox" value="claims">
            <label for="claims-checkbox">Claims</label>
          </li>
          <li>
            <input id="entitlements-checkbox" type="checkbox" value="entitlements">
            <label for="entitlements-checkbox">Entitlements</label>
          </li>
          <li>
            <input id="hhg-checkbox" type="checkbox" value="hhg">
            <label for="hhg-checkbox">Household Goods (HHG)</label>
          </li>
        </ul>
      </fieldset>

      <fieldset class="usa-width-one-third usa-fieldset-inputs usa-sans">
        <ul class="usa-unstyled-list">
          <li>
            <input id="nts-checkbox" type="checkbox" value="nts">
            <label for="nts-checkbox">Long-term Storage (NTS)</label>
          </li>
          <li>
            <input id="tsp-checkbox" type="checkbox" value="tsp">
            <label for="tsp-checkbox">Movers (TSPs)</label>
          </li>
          <li>
            <input id="moving-day-checkbox" type="checkbox" value="moving-day">
            <label for="moving-day-checkbox">Moving Day</label>
          </li>
        </ul>
      </fieldset>

      <fieldset class="usa-width-one-third usa-fieldset-inputs usa-sans">
        <ul class="usa-unstyled-list">
          <li>
            <input id="scheduling-checkbox" type="checkbox" value="scheduling">
            <label for="scheduling-checkbox">Scheduling</label>
          </li>
          <li>
            <input id="delivery-checkbox" type="checkbox" value="delivery">
            <label for="delivery-checkbox">Shipment Delivery</label>
          </li>
          <li>
            <input id="techhelp-checkbox" type="checkbox" value="techhelp">
            <label for="techhelp-checkbox">Technical Help</label>
          </li>
        </ul>
      </fieldset>

    </div>

    <ul class="usa-accordion-bordered" id="faq-accordions">
      <%- @faqs.each do |faq| -%>
        <li class="faq-accordion" data-categories="<%= faq.tags.join(',') %>">
          <button class="usa-accordion-button faq-accordion-button" aria-controls="<%= faq.id %>"><%= raw faq.question %></button>
          <div class="usa-accordion-content" id="<%= faq.id %>"><%= raw faq.answer %></div>
        </li>
      <%- end -%>
    </ul>

  </div>
</div>
