<article class="location-search-result">
  <header class="pppo-result">
    <%= image_tag 'locator/texticon_pppo.svg', alt: 'Transportation Offices' %>
    <strong><%= office.name %></strong> <em>(<%= office.distance %> miles away)</em>
  </header>
  <section>
    <div class="location-search-result-info">
      <div class="location-search-result-address">
        <strong>Location:</strong><br>
        <%= office.address %><br>
        <%= office.city %>, <%= office.state %> <%= office.postal_code %>
      </div>
      <div class="location-search-result-contact">
        <strong>Phone:</strong><br>
        <%- office.phones.each do |phone| -%>
          <%= phone.name %>:
          <% if phone.tel %>
            <%= link_to phone.tel, "tel:#{phone.tel}" %><br>
          <% end %>
          <% if phone.fax %>
            <%= phone.fax %> (fax)<br>
          <% end %>
          <% if phone.tel_dsn %>
            <%= phone.tel_dsn %> (DSN)<br>
          <% end %>
          <% if phone.fax_dsn %>
            <%= phone.fax_dsn %> (DSN fax)<br>
          <% end %>
        <%- end -%>
        <br>
        <strong>Email:</strong><br>
        <%- office.emails.each do |email| -%>
          <%= email.name %>: <%= mail_to email.address %><br>
        <%- end -%>
      </div>
      <div class="jppso-contact">
        <strong>Regional Processing Office:</strong><br>
        <%= office.ppso.name %><br>
        <%- unless office.ppso.phones.custsvc_tel.count == 0 %>
          Customer Service Line: <% link_to office.ppso.phones.custsvc_tel.first.tel, "tel:#{office.ppso.phones.custsvc_tel.tel}" %><br>
        <%- end %>
        <!-- *Open M-F 0800 - 1630<br> -->
        <%- unless office.ppso.emails.custsvc.count == 0 %>
          Email: <%= mail_to office.ppso.emails.custsvc.first.address %>
        <%- end %>
      </div>
    </div>
    <div class="location-search-result-hours">
      <strong>Hours:</strong>
      <table>
        <tbody>
          <!--
          <tr>
            <td>Monday-Friday</td>
            <td>0730 - 1630</td>
          </tr>
          <tr>
            <td>Saturday</td>
            <td>Closed</td>
          </tr>
          <tr>
            <td>Federal Holidays</td>
            <td>Closed</td>
          </tr>
          -->
        </tbody>
      </table><br>
      <strong>Services Offered:</strong><br>
      <!--
      <span class="postit">Walk-In Help</span><br>
      <span class="postit">Moving Process Briefings</span>
      -->
    </div>
  </section>
</article>
