<%- @page_title = 'Locator Maps' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <h2>Find local Transportation Offices (PPPO) and Truck Weight Scales.</h2>

    <div class="location-search-types">
      <div class="usa-media_block">
        <%= image_tag 'locator/texticon_pppo.svg', alt: 'Transportation Offices', class: 'usa-media_block-img' %>
        <div class="usa-media_block-body">
          <strong>Transportation Offices</strong> are your customer service “store-front” of the moving process. In addition to providing information sessions about the moving process, they can also help with scheduling, changing delivery dates, and answering any other questions that come up during your move.
        </div>
      </div>

      <div class="usa-media_block">
        <%= image_tag 'locator/texticon_scales.svg', alt: 'Weight Scales', class: 'usa-media_block-img' %>
        <div class="usa-media_block-body">
          <strong>Truck Weight Scales</strong> are privately owned locations where you can take your vehicles to be weighed to receive required Personally Procured (PPM) “Do-It-Yourself” move weight tickets.
        </div>
      </div>
    </div>

    <div class="location-search-section">
      <div class="location-search-mine">
        <button onclick="getLocation()">Search My Location</button>or
      </div>

      <form class="usa-search usa-search-big location-search-zipcode">
        <div role="search">
          <label class="usa-sr-only" for="search-field-zip">Search by city, ZIP code, or installation</label>
          <input id="search-field-zip" type="search" name="search" placeholder="Search by city, ZIP code, or installation">
          <button type="submit">
            <span class="usa-search-submit-text">Search</span>
          </button>
        </div>
      </form>
    </div>

    <div class="usa-alert usa-alert-error" role="alert">
      <div class="usa-alert-body">
        <h3 class="usa-alert-heading">Location Error</h3>
        <p class="usa-alert-text" id="location-error-body">Could not get your location.</p>
      </div>
    </div>

    <div id="mapid"
      data-marker-icon-path="<%= asset_path 'leaflet/dist/images/marker-icon.png' %>"
      data-marker-icon-2x-path="<%= asset_path 'leaflet/dist/images/marker-icon-2x.png' %>"
      data-marker-shadow-path="<%= asset_path 'leaflet/dist/images/marker-shadow.png' %>"></div>

    <%= render 'locator_maps/offices' %>
    <%= render 'locator_maps/scales' %>

  </div>
</div>
