<nav class="usa-nav" role="navigation">
  <div class="usa-nav-inner">
    <button class="usa-nav-close">
      <%= image_tag 'uswds/close.svg', alt: 'Close' %>
    </button>

    <ul class="usa-nav-primary usa-accordion">
      <li>
        <button aria-controls="nav-moving-guide" aria-expanded="false" class="usa-accordion-button usa-nav-link">
          <span>Moving Guide</span>
        </button>

        <ul class="usa-nav-submenu" id="nav-moving-guide" aria-hidden="true">
          <li><%= link_to 'Moving with the Military Overview', page_path('moving-guide') %></li>
          <li><%= link_to 'Entitlements/Guidelines', page_path('entitlements') %></li>
          <li><%= link_to 'What to Expect?', page_path('moving-guide/conus') %></li>
          <li><%= link_to 'Reimbursements', page_path('moving-guide/reimbursements') %></li>
          <li><%= link_to 'Lost & Damage Claims', page_path('moving-guide/claims') %></li>
          <li><%= link_to 'Moving Tips', page_path('moving-guide/tips') %></li>
          <li><%= link_to 'Nightmare Moves', page_path('moving-guide/nightmare-moves') %></li>
          <li><%= link_to raw("Overseas Moves (#{abbr_tag('oconus')})"), page_path('moving-guide/oconus') %></li>
          <li><%= link_to raw("#{abbr_tag('tdy')} Moves"), page_path('moving-guide/tdy') %></li>
          <li><%= link_to raw('Retirees/Separatees'), page_path('moving-guide/retirees-separatees') %></li>
          <li><%= link_to raw("#{abbr_tag('dod')} Civilian Employees"), page_path('moving-guide/civilians') %></li>
          <li><%= link_to 'Service-Specific Information', service_specific_information_path %></li>
        </ul>
      </li>
      <li>
        <%= link_to page_path('tutorials'), class: 'usa-nav-link' do %>
          <span>Tutorials</span>
        <% end %>
      </li>
      <li>
        <%= link_to faqs_path, class: 'usa-nav-link' do %>
          <span>FAQ</span>
        <% end %>
      </li>
      <li>
        <%= link_to page_path('customer-service'), class: 'usa-nav-link' do %>
          <span>Customer Service</span>
        <% end %>
      </li>
      <li>
        <button aria-controls="nav-resources" aria-expanded="false" class="usa-accordion-button usa-nav-link">
          <span>Tools &amp; Resources</span>
        </button>

        <ul class="usa-nav-submenu" id="nav-resources" aria-hidden="true">
          <li><%= link_to 'Helpful Links', page_path('resources') %></li>
          <li><%= link_to 'Weight Estimator', weight_estimator_path %></li>
          <li><%= link_to 'Find Nearby Locations', offices_path %></li>
          <li><%= link_to 'Self-Inventory Form', page_path('resources/inventory-form') %></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
