<ul class="usa-unstyled-list service-emblems-list">
  <li>
    <%= link_to service_specific_information_path do %>
      <%= image_tag 'emblems/army.svg', alt: 'United States Department of the Army emblem' %>
      Army
    <% end %>
  </li>
  <li>
    <%= link_to service_specific_information_path do %>
      <%= image_tag 'emblems/marines.svg', alt: 'United States Marine Corps emblem' %>
      Marine Corps
    <% end %>
  </li>
  <li>
    <%= link_to service_specific_information_path do %>
      <%= image_tag 'emblems/navy.svg', alt: 'United States Department of the Navy emblem' %>
      Navy
    <% end %>
  </li>
  <li>
    <%= link_to service_specific_information_path do %>
      <%= image_tag 'emblems/air-force.svg', alt: 'United States Department of the Air Force emblem' %>
      Air Force
    <% end %>
  </li>
  <li>
    <%= link_to service_specific_information_path do %>
      <%= image_tag 'emblems/coast-guard.svg', alt: 'United States Coast Guard emblem' %>
      Coast Guard
    <% end %>
  </li>
</ul>
