<aside class="usa-width-one-fourth usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <%= active_link_to 'Moving with the Military', page_path('moving-guide'), class_active: 'usa-current' %>

      <%- if is_active_link?(page_path('moving-guide')) -%>
        <ul class="usa-sidenav-sub_list">
          <li><%= active_link_to raw("<i>What to expect…</i> #{abbr_tag('conus')} #{abbr_tag('pcs')}"), page_path('moving-guide/conus'), class_active: 'usa-current' %></li>
          <li><%= active_link_to raw("<i>What to expect…</i> #{abbr_tag('oconus')} #{abbr_tag('pcs')}"), page_path('moving-guide/oconus'), class_active: 'usa-current' %></li>
          <li><%= active_link_to raw("<i>What to expect…</i> #{abbr_tag('tdy')}"), page_path('moving-guide/tdy'), class_active: 'usa-current' %></li>
          <li><%= active_link_to raw('<i>What to expect…</i> Retirees/Separatees'), page_path('moving-guide/retirees-separatees'), class_active: 'usa-current' %></li>
          <li><%= active_link_to raw('<i>What to expect…</i> Civilians'), page_path('moving-guide/civilians'), class_active: 'usa-current' %></li>
          <li><%= active_link_to 'Moving Tips', page_path('moving-guide/tips'), class_active: 'usa-current' %></li>
          <li><%= active_link_to 'Nightmare Moves', page_path('moving-guide/nightmare-moves'), class_active: 'usa-current' %></li>
        </ul>
      <%- end -%>
    </li>
    <li><%= active_link_to 'Entitlements', entitlements_path, class_active: 'usa-current' %></li>
    <li><%= active_link_to 'Tutorials', tutorials_path, class_active: 'usa-current' %></li>
    <li><%= active_link_to 'Service-Specific Information', service_specific_information_path, class_active: 'usa-current' %></li>
    <li>
      <%= active_link_to 'Tools & Resources', page_path('resources'), class_active: 'usa-current' %>

      <%- if is_active_link?(page_path('resources')) -%>
        <ul class="usa-sidenav-sub_list">
          <li><%= active_link_to 'Locator Maps', offices_path, class_active: 'usa-current' %></li>
          <li><%= active_link_to 'Weight Estimator', weight_estimator_path, class_active: 'usa-current' %></li>
        </ul>
      <%- end -%>
    </li>
    <li><%= active_link_to 'Frequently Asked Questions', faqs_path, class_active: 'usa-current' %></li>
    <li><%= active_link_to 'Customer Service', page_path('customer-service'), class_active: 'usa-current' %></li>
  </ul>
  <div class="sidenav-footer">
    <%= link_to raw("Log In to #{abbr_tag('dps')}"), 'https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&amp;SSOAppID=DPS', class: 'usa-button' %>
    <p class="usa-text-small">New to <%= abbr_tag('dps') %>? <%= link_to 'Create your account', 'https://www.move.mil/dod/first_time_users/browser_compatibility.cfm' %></p>
  </div>
</aside>
