<%- @page_title = 'Tutorials' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <p>Below you will find basic information and instructions for <%= abbr_tag('dps') %> and Move.mil. If you get stuck or have any questions, you can visit your <%= link_to 'local transportation office', offices_path %> or call the 24-hour <%= abbr_tag('src') %> Help Desk at <%= link_to '1 (800) 462-2176', 'tel:+18004622176' %>.</p>

  <ul>
    <%- @tutorials.each do |tutorial| -%>
      <li><%= link_to raw(tutorial.title), "#tutorial-#{tutorial.id}" %></li>
    <%- end -%>
  </ul>

  <h2>How do I…</h2>

  <ul class="usa-accordion-bordered linkable-accordion">
    <%- @tutorials.each do |tutorial| -%>
      <li id="tutorial-<%= tutorial.id %>" class="linkable-accordion-item">
        <button aria-controls="<%= tutorial.id %>" class="usa-accordion-button"><%= raw tutorial.title %></button>
        <div class="usa-accordion-content" id="<%= tutorial.id %>">
          <div class="carousel-item-single-page">
            <%= link_to 'View All in Single Page', tutorial_path(tutorial) %>
          </div>

          <div class="carousel owl-carousel">
            <%- tutorial.tutorial_steps.each do |step| -%>
              <div class="carousel-item">
                <figure class="carousel-item-content">
                  <%= image_tag step.image_path, alt: '' if step.image_path? %>
                  <figcaption>
                    <%= raw step.content %>
                  </figcaption>
                </figure>
              </div>
            <%- end -%>
          </div>
        </div>
      </li>
    <%- end -%>
  </ul>
</div>
