<%- @page_title = 'Tutorials' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render layout: 'shared/sidenav' do %>
    <%- @tutorials.each do |tutorial| -%>
      <li><%= link_to tutorial.title, tutorials_path(tutorial), class: tutorial == @tutorial ? 'usa-current' : nil %></li>
    <%- end -%>
  <% end %>

  <div class="sidenav-body tutorial">
    <div class="article-intro">
      Helping you through your move, one step at a time.
      <br><br>
      If you need help today, visit your <%= link_to 'local transportation office', offices_path %> or call the 24-hour Help Desk at 1 (800) 462-2176.
    </div>

    <h6>TUTORIAL</h6>
    <div><%= @tutorial.title %></div>
    <div class="carousel owl-carousel">
      <%- @tutorial.tutorial_steps.each do |step| -%>
        <div class="carousel-item">
          <figure class="carousel-item-content">
            <%= image_tag step.image_path, alt: 'screenshot' if step.image_path? %>
            <figcaption>
              <h6>INSTRUCTIONS</h6>
              <%= raw step.content %>
            </figcaption>
          </figure>
        </div>
      <%- end -%>
    </div>
  </div>
</div>
