<%- @page_title = 'Personally Procured Move (PPM) Estimator' -%>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <h4>
    For your upcoming move, get an estimate for how much the government will
    pay <strong>you</strong> if you choose to "do it yourself."
  </h4>

  <p>
    You can use this money to cover the cost of hiring packers and movers,
    renting moving trucks, and so on. If you spend less to move than the
    government will incentivize you to move yourself, you get to pocket the
    difference!
  </p>

  <%= form_with url: ppm_estimator_path, class: 'ppm-form', id: 'ppm-estimate-form', method: 'get' do |form| %>
    <fieldset>
      <legend><div class="ppm-outline"></div>What is your rank?</legend>
        <%= form.label :rank, 'Rank' %>
        <%= form.select :rank, options_from_collection_for_select(@entitlements, :slug, :rank), { include_blank: true }, { id: :rank, required: true } %>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>What is your branch of service?</legend>
        <%= form.label :branch, 'Branch of Service' %>
        <%= form.select :branch, [['Air Force', 'air-force'], ['Army', 'army'], ['Coast Guard', 'coast-guard'], ['Marine Corps', 'marines'], ['Navy', 'navy']], { include_blank: true }, { id: :branch, required: true } %>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>Do you have dependents?</legend>
      <%= form.radio_button :dependents, 'yes', { id: :dependents_yes, required: true } %>
      <%= form.label :dependents, raw('<strong>Yes</strong>, I have dependents'), :value => 'yes' %>
      <%= form.radio_button :dependents, 'no', { id: :dependents_no, required: true } %>
      <%= form.label :dependents, raw('<strong>No</strong>, I do not have dependents'), :value => 'no' %>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>Are you married?</legend>
      <%= form.radio_button :married, 'yes', { id: :married_yes, required: true } %>
      <%= form.label :married, raw('<strong>Yes</strong>, I am married'), :value => 'yes' %>
      <%= form.radio_button :married, 'no', { id: :married_no, required: true } %>
      <%= form.label :married, raw('<strong>No</strong>, I am not married'), :value => 'no' %>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>Where are you moving from?</legend>
      <%= form.label :start, 'Origin ZIP Code' %>
      <%= form.text_field :start, { id: :start, onkeypress: 'return onZipCodeKey(this, event)', required: true } %>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>Where are you moving to?</legend>
      <%= form.label :end, 'Destination ZIP Code' %>
      <%= form.text_field :end, { id: :end, onkeypress: 'return onZipCodeKey(this, event)', required: true } %>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>When do you want to move?</legend>
      <%= form.label :date, 'Moving Date' %>
      <%= form.date_field :date, { id: :date, required: true } %>
    </fieldset>

    <%= tag.div id: 'entitlements-json', data: { entitlements_json: @entitlements_json } %>

    <fieldset>
      <legend><div class="ppm-outline"></div>How much, in pounds, do you expect to move without the government's help?</legend>
      <p>
        The government will only pay for the actual weight transported, up to your weight allowance.
        Don't forget - if you move some of your goods yourself (<%= abbr_tag('ppm') %>) and
        have the government move the rest (<%= abbr_tag('hhg') %>), <em>the weights of both shipments
        count towards your allowance.</em>
        <%= link_to 'Need help estimating your total household weight?', weight_estimator_path %>
      </p>
      <div id="weight-section">
        <%= form.label :weight, 'Estimated Household Goods Weight' %>
        <%= form.text_field :weight, { id: :weight, onkeypress: 'return isDigitKey(event)', required: true } %>
        <p id="weight-allowance-text">
          Your weight allowance is <strong><span id="entitlement_weight"></span> lbs</strong>.
        </p>
      </div>
      <div id="progear-section">
        <%= form.label :weight_progear, 'Estimated ProGear Weight' %>
        <%= form.text_field :weight_progear, { id: :weight_progear, onkeypress: 'return isDigitKey(event)', required: false } %>
        <p id="progear-allowance-text">
          Your ProGear allowance is <strong><span id="entitlement_progear"></span> lbs</strong>.
        </p>
      </div>
      <div id="progear-spouse-section" hidden>
        <%= form.label :weight_progear_spouse, 'Estimated ProGear Weight (Spouse)' %>
        <%= form.text_field :weight_progear_spouse, { id: :weight_progear_spouse, onkeypress: 'return isDigitKey(event)', required: false } %>
        <p id="progear-spouse-allowance-text">
          Your spouse's ProGear allowance is <strong><span id="entitlement_progear_spouse"></span> lbs</strong>.
        </p>
      </div>
    </fieldset>

    <fieldset>
      <legend><div class="ppm-outline"></div>Do you plan to pack your household goods yourself?</legend>
      <p>
        The government will pay you the amount equal to the government cost
        to have your belongings professionally packed. The payment can be
        used to cover the packing materials or to hire any help you may need
        to pack your house. Any left over money, you can keep — no reciepts
        needed!
        <a href="#TODO">How do I make sure the government pays me my packing entitlement?</a>
      </p>
      <%= form.radio_button :selfpack, 'yes', { id: :selfpack_yes, required: true }  %>
      <%= form.label :selfpack, 'Yes', :value => 'yes' %>
      <%= form.radio_button :selfpack, 'no', { id: :selfpack_no, required: true } %>
      <%= form.label :selfpack, 'No', :value => 'no' %>
    </fieldset>

    <button>Calculate My Estimate</button>
  <% end %>

  <div class="usa-alert usa-alert-info" id="ppm-estimate-alert" hidden>
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Information Needed</h3>
      <p class="usa-alert-text">Could not calculate a PPM estimate. Please double-check your choices in <%= link_to 'the form above', '#ppm-estimate-form' %>.</p>
    </div>
  </div>

  <div id="ppm-estimate-results-container" tabindex="-1">
    <div id="ppm-estimate-results" hidden>
    </div>
  </div>

  <div class="ppm-footer">
    <strong>Note:</strong> This tool only provides an estimate of what you
    might recieve if you decide to do a personally procured move.
    <strong>Your actual incentive will be calculated based off the
    daily rates available when you schedule your move in DPS.</strong> Rates
    vary based on transporter availability, selected move date (Peak vs.
    Non-Peak Season), distance traveled, and the actual weight of the shipment.
  </div>
</div>
