<%- @page_title = 'Personally Procured Move (PPM) Estimator' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: [{name: 'Tools & Resources', path: page_path('resources')}]} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <h4>
    For your upcoming move, get an estimate for how much the government will
    pay <strong>you</strong> if you choose to "do it yourself."
  </h4>

  <p>
    You can use this money to cover the cost of hiring packers and movers,
    renting moving trucks, and so on. If you spend less to move than the
    government will incentivize you to move yourself, you get to pocket the
    difference!
  </p>

  <%= form_with url: ppm_estimator_path, class: 'ppm-form', id: 'ppm-estimate-form', method: 'get', skip_enforcing_utf8: true do |form| %>
    <fieldset>
      <legend>What is your rank and branch of service?</legend>
      <div class="usa-grid-full grid-form-width">
        <div class="usa-width-one-half">
          <%= form.label :rank, 'Rank' %>
          <%= form.select :rank, options_from_collection_for_select(@entitlements, :slug, :rank), { prompt: '- Select -' }, { id: :rank, required: true } %>
        </div>
        <div class="usa-width-one-half">
          <%= form.label :branch, 'Branch of Service' %>
          <%= form.select :branch, options_from_collection_for_select(@branches, :slug, :name), { prompt: '- Select -' }, { id: :branch, required: true } %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Do you have dependents?</legend>
      <div class="usa-grid-full grid-form-width">
        <div class="usa-width-one-half">
          <%= form.radio_button :dependents, 'yes', { id: :dependents_yes, required: true } %>
          <%= form.label :dependents, value: 'yes' do %>
            <strong>Yes</strong>, I have dependents
          <% end %>
        </div>
        <div class="usa-width-one-half">
          <%= form.radio_button :dependents, 'no', { id: :dependents_no, required: true } %>
          <%= form.label :dependents, value: 'no' do %>
            <strong>No</strong>, I do not have dependents
          <% end %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>Where are you moving from and to?</legend>
      <p>
        To get the most accurate estimate, enter the locations authorized by
        your orders. These locations might be different from where you live.
      </p>
      <div class="usa-grid-full grid-form-width">
        <div class="usa-width-one-half">
          <%= form.label :start, 'Origin ZIP Code' %>
          <%= form.text_field :start, { id: :start, minlength: 5, maxlength: 5, inputmode: 'numeric', pattern: '\d{5}', required: true } %>
        </div>
        <div class="usa-width-one-half">
          <%= form.label :end, 'Destination ZIP Code' %>
          <%= form.text_field :end, { id: :end, minlength: 5, maxlength: 5, inputmode: 'numeric', pattern: '\d{5}', required: true } %>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>When do you want to move?</legend>
      <span class="usa-form-hint" id="dateHint">For example: <%= (Date.today + 14).strftime('%-m %-d %Y') %></span>
      <div class="usa-date-of-birth" id="date-section">
        <div class="ppm-form-group-month">
          <%= form.label :date_month, 'Month' %>
          <%= form.number_field :date_month, { id: :date_month, class: 'usa-input-inline', 'aria-describedby' => 'dateHint', min: 1, max: 12, required: true } %>
        </div>
        <div class="ppm-form-group-day">
          <%= form.label :date_day, 'Day' %>
          <%= form.number_field :date_day, { id: :date_day, class: 'usa-input-inline', 'aria-describedby' => 'dateHint', min: 1, max: 31, required: true } %>
        </div>
        <div class="ppm-form-group-year">
          <%= form.label :date_year, 'Year' %>
          <%= form.number_field :date_year, { id: :date_year, class: 'usa-input-inline', 'aria-describedby' => 'dateHint', min: Date.today.year, required: true } %>
        </div>
      </div>
    </fieldset>

    <%= tag.div id: 'entitlements-json', data: { entitlements_json: Hash[@entitlements.collect { |e| [e.slug, e] }].to_json } %>

    <fieldset>
      <legend>How much, in pounds, do you expect to move without the government's help?</legend>
      <p>
        The government will only pay for the actual weight transported, up to your weight allowance.
        Don't forget - if you move some of your goods yourself (<%= abbr_tag('ppm') %>) and
        have the government move the rest (<%= abbr_tag('hhg') %>), <em>the weights of both shipments
        count towards your allowance.</em>
        <%= link_to 'Need help estimating your total household weight?', weight_estimator_path %>
      </p>
      <div id="weight-section">
        <%= form.label :weight, 'Estimated Household Goods Weight (lbs)' %>
        <%= form.number_field :weight, { id: :weight, inputmode: 'numeric', required: true } %>
        <p id="weight-allowance-text">
          Your weight allowance is up to <strong><span id="entitlement_weight"></span> lbs</strong>.
        </p>
      </div>
      <div id="progear-section">
        <%= form.label :weight_progear, 'Estimated Pro-Gear Weight (lbs)' %>
        <%= form.number_field :weight_progear, { id: :weight_progear, inputmode: 'numeric', required: false } %>
        <p id="progear-allowance-text">
          Your Pro-Gear allowance is up to <strong><span id="entitlement_progear"></span> lbs</strong>.
        </p>
      </div>
      <div id="progear-spouse-section" hidden>
        <%= form.label :weight_progear_spouse, "Estimated Spouse's Pro-Gear Weight (lbs)" %>
        <%= form.number_field :weight_progear_spouse, { id: :weight_progear_spouse, inputmode: 'numeric', required: false } %>
        <p id="progear-spouse-allowance-text">
          Your spouse's Pro-Gear allowance is up to <strong><span id="entitlement_progear_spouse"></span> lbs</strong>.
        </p>
      </div>
    </fieldset>

    <button>Calculate My Estimate</button>
  <% end %>

  <div class="usa-alert usa-alert-error" id="ppm-estimate-alert" role="alert" hidden>
    <div class="usa-alert-body">
      <h3 class="usa-alert-heading">Information Needed</h3>
      <p class="usa-alert-text">Could not calculate a PPM estimate. Please double-check your choices in <%= link_to 'the form above', '#ppm-estimate-form' %>.</p>
    </div>
  </div>

  <div id="ppm-estimate-results-container" tabindex="-1">
    <div id="ppm-estimate-results" class="ppm-estimate-results" hidden>
    </div>
  </div>

  <div class="ppm-footer" id="ppm-footer">
    <strong>Note:</strong> This tool only provides an estimate of what you
    might receive if you decide to do a personally procured move.
    <strong>Your actual incentive will be calculated based off the
    daily rates available when you schedule your move in DPS.</strong> Rates
    vary based on transporter availability, selected move date (Peak vs.
    Non-Peak Season), distance traveled, and the actual weight of the shipment.
  </div>
</div>
