<p><%= link_to 'Determine Your Entitlements', page_path('entitlements') %></p>
<p><%= link_to 'Household Goods Weight Estimator', weight_estimator_path %></p>
<p><%= link_to 'PPM (Do-It-Yourself) Estimator', ppm_estimator_path %></p>
<p><%= link_to 'Personal Property Office Location Map', offices_path %></p>
<p><%= link_to 'Self-Inventory Form', page_path('resources/inventory-form') %></p>
<p><%= link_to 'Customer Service Information', page_path('customer-service') %></p>
