<span class="homepage-login-banner">
  <%= render 'shared/login_banner' %>
</span>

<div class="usa-grid-full homepage-anchor-section">
  <div class="homepage-anchor-title">Prepare for your best move yet.</div>
  <ul class="usa-unstyled-list homepage-anchor-list">
    <li>
      <%= link_to '#plan-your-move' do %>
        <%= image_tag 'icons/plan-your-move.svg', alt: 'Plan your move icon' %>
        Plan
      <% end %>
    </li>
    <li>
      <%= link_to '#schedule-your-move' do %>
        <%= image_tag 'icons/schedule-your-move.svg', alt: 'Schedule your move icon' %>
        Schedule
      <% end %>
    </li>
    <li>
      <%= link_to '#get-ready' do %>
        <%= image_tag 'icons/get-ready.svg', alt: 'Get ready for moving day icon' %>
        Moving Day
      <% end %>
    </li>
    <li>
      <%= link_to '#settling-in' do %>
        <%= image_tag 'icons/settling-in.svg', alt: 'Settling in icon' %>
        Settle In
      <% end %>
    </li>
  </ul>
</div>

<div class="homepage-content">
  <ul class="usa-accordion helpful-links-accordion">
    <li>
      <button class="usa-accordion-button" aria-controls="helpful-links-accordion-content">
        <h4>Helpful Links</h4>
      </button>
      <div id="helpful-links-accordion-content" class="usa-accordion-content">
        <%= render 'pages/helpful_links' %>
      </div>
    </li>
  </ul>
  <div class="usa-grid">
    <div class="usa-width-two-thirds">
      <div class="homepage-section" id="plan-your-move">
        <div class="usa-media_block">
          <%= image_tag 'icons/plan-your-move-dark.svg', alt: '', class: 'usa-media_block-img' %>
          <div class="usa-media_block-body">
            <div class="homepage-section-header">Plan Your Move</div>
          </div>
        </div>
        <ul>
          <li>Research your new base on <%= link_to 'militaryinstallations.dod.mil', 'http://www.militaryinstallations.dod.mil/MOS/f?p=MI:ENTRY:0' %></li>
          <li><%= link_to 'Learn what options there are for transporting your household goods', page_path('moving-guide') %></li>
          <li>Visit <%= link_to 'Military One Source', 'https://www.militaryonesource.mil/web/mos/moving-housing' %> to learn more about coping with relocation and housing issues</li>
          <li>Attend an info session (briefing) at your <%= link_to 'local personal property office', offices_path %></li>
        </ul>
      </div>

      <div class="homepage-section" id="schedule-your-move">
        <div class="usa-media_block">
          <%= image_tag 'icons/schedule-your-move-dark.svg', alt: '', class: 'usa-media_block-img' %>
          <div class="usa-media_block-body">
            <div class="homepage-section-header">Schedule Your Move</div>
            <p>Use Defense Personal Property System (DPS) to schedule your move with a transportation company.</p>
          </div>
        </div>
        <ul>
          <li><%= link_to raw("Sign In to #{abbr_tag('dps')}"), 'https://eta.sddc.army.mil/ETASSOPortal/default.aspx' %>  to schedule your move online</li>
          <li>Visit your <%= link_to 'local personal property office', offices_path %> to get help scheduling your move</li>
          <li><%= link_to 'Follow online tutorials for help logging in or using DPS', tutorials_path %></li>
        </ul>
      </div>

      <div class="homepage-section" id="get-ready">
        <div class="usa-media_block">
          <%= image_tag 'icons/get-ready-dark.svg', alt: '', class: 'usa-media_block-img' %>
          <div class="usa-media_block-body">
            <div class="homepage-section-header">Get Ready for Moving Day</div>
          </div>
        </div>
        <ul>
          <li><%= link_to 'Create your own high-value inventory', page_path('resources/inventory-form') %></li>
          <li>Contact your <%= link_to 'local personal property office', offices_path %> if anything goes wrong with your transportation provider the day of your move</li>
          <li>Review <%= link_to 'Moving Tips', page_path('moving-guide/tips') %> so that you have a successful move</li>
        </ul>
      </div>

      <div class="homepage-section" id="settling-in">
        <div class="usa-media_block">
          <%= image_tag 'icons/settling-in-dark.svg', alt: '', class: 'usa-media_block-img' %>
          <div class="usa-media_block-body">
            <div class="homepage-section-header">Settling In</div>
            <p>As you’re unpacking you might notice that some items got lost or broken in transit. Not only should you file claims to receive compensation for your damaged items, make sure you review your transporter so that other family’s benefit from your experience.</p>
          </div>
        </div>
        <ul>
          <li><%= link_to 'What happens if something is lost or broken?', '#TODO' %></li>
          <li><%= link_to raw("Learn how to file a loss or damage claim in #{abbr_tag('dps')}"), page_path('tutorials', anchor: 'tutorial-4') %></li>
          <li><%= link_to raw("Learn how to review your transporter in #{abbr_tag('dps')} (Customer Satisfaction Survey)"), page_path('tutorials', anchor: 'tutorial-5') %></li>
        </ul>
      </div>
    </div>
    <aside class="usa-width-one-third helpful-links-section">
      <h4>Helpful Links</h4>
      <%= render 'pages/helpful_links' %>
    </aside>
  </div>
</div>

<section class="usa-grid-full">
  <div class="usa-grid">
    <div class="homepage-service-section">
      <h3>Service-Specific Guidance</h3>
      <p>Select your branch of service for additional move-related information and resources.</p>

      <%= render 'shared/service_emblems_list' %>
    </div>
  </div>
</section>
