<div class="usa-grid homepage-hero">
  <h2>While moving is never easy, <b>move.mil</b> makes your experience just a little bit better.</h2>
</div>

<div class="usa-grid">
  <aside class="usa-width-one-third">
    <div class="dps-login-section">
      <p><b>Defense Personal Property System (DPS)</b> is your portal to move scheduling and the claims process.</p>
      <p><%= link_to raw("Log In to #{abbr_tag('dps')}"), 'https://eta.sddc.army.mil/ETASSOPortal/SSO/AppLogin.aspx?LoginType=portal&amp;SSOAppID=DPS', class: 'usa-button' %></p>
      <p class="usa-text-small">New to <%= abbr_tag('dps') %>? <%= link_to 'Create your account', 'https://www.move.mil/dod/first_time_users/browser_compatibility.cfm' %></p>
    </div>
  </aside>

  <div class="usa-width-two-thirds">
    <h2 class="homepage-content-title">Your Moving Guide</h2>

    <div class="homepage-section usa-media_block">
      <%= image_tag 'homepage/plan-your-move.jpg', alt: '', class: 'usa-media_block-img' %>
      <div class="usa-media_block-body">
        <h3>Plan Your Move</h3>
        <p>It’s never too early to get started, learn what you are allowed to bring and plan ahead.</p>

        <ul>
          <li><%= link_to 'Learn about Moving Allowances (Entitlements)', page_path('entitlements') %></li>
          <li><%= link_to 'Verify Service-Specific Information', '#TODO' %></li>
          <li><%= link_to 'Research your new base', '#TODO' %></li>
          <li><%= link_to 'Speak to a Transportation Counselor (optional)', '#TODO' %></li>
        </ul>
      </div>
    </div>

    <div class="homepage-section usa-media_block">
      <%= image_tag 'homepage/schedule-your-move.jpg', alt: '', class: 'usa-media_block-img' %>
      <div class="usa-media_block-body">
        <h3>Schedule Your Move</h3>
        <p>Use Defense Personal Property System (DPS) to schedule your move with a transportation company.</p>

        <ul>
          <li><%= link_to 'Plan how you want to move', '#TODO' %></li>
          <li><%= link_to raw("Get access to #{abbr_tag('dps')} by creating an #{abbr_tag('eta')} Log In"), 'https://www.move.mil/dod/first_time_users/browser_compatibility.cfm' %></li>
          <li><%= link_to raw("Learn how to use #{abbr_tag('dps')} to schedule your move"), tutorials_path %></li>
          <li><%= link_to 'Estimate your moving weight', '#TODO' %></li>
        </ul>
      </div>
    </div>

    <div class="homepage-section usa-media_block">
      <%= image_tag 'homepage/get-ready.jpg', alt: '', class: 'usa-media_block-img' %>
      <div class="usa-media_block-body">
        <h3>Get Ready for Moving Day</h3>
        <p>Get your house ready to be packed and moved before your moving company shows up at your door!</p>

        <ul>
          <li><%= link_to 'Learn what to prepare ahead of time', '#TODO' %></li>
          <li><%= link_to 'Review what to do if anything goes wrong', '#TODO' %></li>
        </ul>
      </div>
    </div>

    <div class="homepage-section usa-media_block">
      <%= image_tag 'homepage/after-you-arrive.jpg', alt: '', class: 'usa-media_block-img' %>
      <div class="usa-media_block-body">
        <h3>After You Arrive</h3>
        <p>As you’re unpacking you might notice that some items got lost or broken in transit. Not only should you file claims to recieve compensation for your damaged items, make sure you review your transporter so that other family’s benefit from your experience.</p>

        <ul>
          <li><%= link_to 'What happens if something arrives lost or broken?', '#TODO' %></li>
          <li><%= link_to raw("How to file a loss or damage claim in #{abbr_tag('dps')}"), '#TODO' %></li>
          <li><%= link_to raw("Review your transporter in #{abbr_tag('dps')}"), '#TODO' %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="usa-grid-full">
  <div class="usa-grid">
    <h2 class="divider-heading"><span>Service-Specific Guidance</span></h2>

    <p>Select your branch of service for additional move-related information and resources.</p>

    <%= render 'shared/service_emblems_list' %>
  </div>
</section>
