<%- @page_title = 'Moving with the Military' -%>

<%= render 'shared/login_banner' %>
<%= render 'shared/back_to_top' %>
<%= render partial: 'shared/breadcrumbs', locals: {page_title: @page_title} %>

<div class="usa-section main-section moving-guide">
  <h1><%= @page_title %></h1>

  <p>Below you will find basic information on moving with the military.</p>

  <ul class="two-column-list">
    <li><%= link_to 'Understand Your Orders', '#your-orders' %></li>
    <li><%= link_to 'Location Matters', '#location-matters' %></li>
    <li><%= link_to 'Know Your Options (Move Types)', '#move-types' %></li>
    <li><%= link_to 'What does rank have to do with it?', '#about-entitlements' %></li>
  </ul>

  <h2 id="your-orders">Understand Your Orders.</h2>

  <p>In general, your moving process will start with the job/travel order’s you recieve from your service. In your orders, information describing your rank, the duration of your job/training, and your assigned location will determine if your entire dependent family can come, what you are allowed to bring, and how those items will arrive to your new location. If you have any questions, <%= link_to 'your local personal property office', offices_path %> is the place to go for help deciphering your orders as they pertain to moving.</p>
  <p><b>Permanent Duty Station (PCS)</b> is when you are assigned to a location for 20+ weeks, regardless of whether your assignment pertains to training or a new job. In these circumstances, you should be allowed a full household move should you choose to take it.</p>
  <p><b>Temporary Duty Yonder (TDY)</b> is when you are temporarily assigned to a new location, for generally less than 20 weeks. For <%= abbr_tag('tdy') %>, it is common that only a small subset of your household belonging will be able to travel with you to your new location.  What to expect for a <%= abbr_tag('tdy') %> move?</p>

  <h2 id="location-matters">Location Matters.</h2>

  <p>When you are moving for a <b>Permanent Change of Station (PCS)</b> or a <b>Temporary Duty Yonder (TDY)</b> with the military, the way your household goods get transported from “Point A” to “Point B” largely depends on your rank and whether your entire move will happen within the 48 contiguous states or internationally (including Alaska &amp; Hawaii).</p>

  <div class="usa-media_block location-section">
    <%= image_tag 'conus.svg', alt: 'Continental U S', class: 'usa-media_block-img' %>
    <div class="usa-media_block-body">
      <h3><%= abbr_tag('conus') %> (48 Contiguous States)</h3>
      <p><%= abbr_tag('conus') %> are moves that start and end within the 48 contiguous states of the US. Most moves in the US Military are <%= abbr_tag('conus') %> moves.</p>
      <p><%= link_to raw("What to expect for a #{abbr_tag('conus')} move?"), page_path('moving-guide/conus') %></p>
    </div>
  </div>

  <div class="usa-media_block location-section">
    <%= image_tag 'oconus.svg', alt: 'Outside Continental U S', class: 'usa-media_block-img' %>
    <div class="usa-media_block-body">
      <h3><%= abbr_tag('oconus') %> (International + Hawaii &amp; Alaska)</h3>
      <p>Moves to or from Alaska and Hawaii along with international stations are considered <%= abbr_tag('oconus') %> moves. These moves are more complicated and each location may have additional limitations on what you are allowed to transport.</p>
      <p><%= link_to raw("What to expect for a #{abbr_tag('oconus')} Move?"), page_path('moving-guide/oconus') %></p>
    </div>
  </div>

  <h2 id="move-types">Know Your Options. (Move Types)</h2>

  <p>Once you have figured out the type of move (<%= abbr_tag('pcs') %> or <%= abbr_tag('tdy') %>) and your move location (<%= abbr_tag('conus') %> or <%= abbr_tag('oconus') %>), you will have some choices to make regarding how your belongings are shipped to your new destination. Remember, you can split up your total allowable weight into multiple shipments. For example, most service members doing a <%= abbr_tag('pcs') %> <%= abbr_tag('conus') %> move will have both a <%= abbr_tag('ppm') %> (“do it yourself”) shipment of their prized, valuable possessions and an <%= abbr_tag('hhg') %> (“Household Goods") shipment using a government-furnished moving company for the bulk of their belongings.</p>
  <p>If you have any questions, <%= link_to 'your local personal property office', offices_path %> is the place to go for help figuring out how to break up your weight into various shipments.</p>

  <h3>Move Types</h3>

  <table>
    <tbody>
      <tr>
        <th scope="row"><%= image_tag 'ppm.svg', alt: '', role: 'presentation' %><strong>Personally Procured Move</strong> (PPM)</th>
        <td>
          <p>In a Personally Procured Move (PPM), you either hire a moving company yourself to handle packing and transporting your belongings, or you pack and transport your household goods on your own.</p>
          <p>The government will pay you 95% of what <em>their</em> cost would have been to hire a moving company on your behalf. If you can move your belongings yourself for less money, you get to keep the difference.</p>
          <p><%= abbr_tag('ppm') %>s are especially recommended for any irreplaceable valuables you own (i.e. family heirlooms, photos, important documents, etc.) or for necessities you will need immediately at your new location while waiting for your transporter to arrive.</p>

          <h4>Approved for:</h4>

          <dl class="approvals-list">
            <dt><%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('conus') %></dt>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>

            <dt><%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('oconus') %></dt>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>
          </dl>
        </td>
      </tr>
      <tr>
        <th scope="row"><%= image_tag 'hhg.svg', alt: '', role: 'presentation' %><strong>Household Goods Moves</strong> (HHG)</th>
        <td>
          <p>A Household Goods “HHG” move is a move completed by a government-furnished moving company, also called a Transportation Service Provider (TSP). During a HHG move, your transporter is responsible for packing all of your belongings and transporting them to your new location. If anything becomes lost or broken during your move, you can work with your transporter  to recieve financial compensation for your items.</p>

          <h4>Approved for:</h4>

          <dl class="approvals-list">
            <dt><%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('conus') %></dt>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>

            <dt><%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('oconus') %></dt>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>
          </dl>
        </td>
      </tr>
      <tr>
        <th scope="row"><%= image_tag 'unaccompanied_baggage.svg', width: '75px', alt: '', role: 'presentation' %><strong>Unaccompanied Baggage</strong> (UG)</th>
        <td>
          <p>Unaccompanied baggage (UG) is an option for shipments where a small subset of your total weight allowance is expedited to your new location, typically while you wait for the rest of your belongings to arrive at a later date.</p>

          <h4>Approved for:</h4>

          <dl class="approvals-list">
            <dt><%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('conus') %></dt>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>

            <dt><%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('oconus') %></dt>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>
          </dl>
        </td>
      </tr>
      <tr>
        <th scope="row"><%= image_tag 'pov.svg', alt: '', role: 'presentation' %><strong>Privately-Owned Vehicle</strong> (POV) Shipment</th>
        <td>
          <p>In general, if you are traveling overseas (<%= abbr_tag('oconus') %>), the government will pay to ship one <%= abbr_tag('pov') %> to your new location, but you will need to arrange for it to be dropped off at the designated drop-off center before departing. (Note: There may be some overseas bases, such as in Japan, where it is not possible to have a car.)</p>
          <p>If you are travelling within the 48 contiguous states, the government requires you to drive your car to your new location or to pay for shipment at your own expense. The government will reimburse you for the mileage as well as any toll expenses you encounter along the way, so be sure to save reciepts/tickets.</p>
          <p>In some cases, service members may be able to get a waiver to allow for vehicle shipment if a medical condition prevents them from sitting for long distances or if the report date makes it geographically impossible to drive with the alloted period of time.</p>

          <h4>Approved for:</h4>

          <dl class="approvals-list">
            <dt><%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('conus') %></dt>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>

            <dt><%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('oconus') %></dt>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>
          </dl>
        </td>
      </tr>
      <tr>
        <th scope="row"><%= image_tag 'nontemp_storage.svg', alt: '', role: 'presentation' %><strong>Non-Temporary Storage</strong> (NTS)</th>
        <td>
          <p>Non-temporary storage (NTS) is long-term storage of your belongings used generally in lieu of shipping your items to your new duty station. Expect the storage location to be located near the origin (pickup) location where items may remain for the duration of your tour. When you return and have established a new address, you can request retrieval and shipment of your stored belongings.</p>

          <h4>Approved for:</h4>

          <dl class="approvals-list">
            <dt><%= image_tag 'conus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('conus') %></dt>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>

            <dt><%= image_tag 'oconus.svg', width: '40px', alt: '', role: 'presentation' %><%= abbr_tag('oconus') %></dt>
            <dd>
              <span class="tag tag-unapproved">
                <span class="usa-sr-only">Not approved for</span> Temporary Duty Yonder (TDY)
              </span>
            </dd>
            <dd>
              <span class="tag tag-approved">
                <span class="usa-sr-only">Approved for</span> Permanent Change of Station (PCS)
              </span>
            </dd>
          </dl>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 id="about-entitlements">What does rank have to do with it?</h2>

  <p>The rank specified on your job/travel orders will be used to determine how much total weight or moving allowance (a.k.a. “how much stuff”) you are allowed to take to your new location. In general, as your rank increases, your moving allowance also increases. Any cost to move items/weight above a service member’s moving allowance will be charged to the service member after delivery.</p>
  <p><%= link_to 'Learn your weight allowance (entitlements)', page_path('entitlements') %>.</p>
</div>
