<%- if @entitlement_search -%>
  <ul class="usa-unstyled-list">
    <li>Military Pay Grade: <b><%= @entitlement_search.rank %></b></li>
    <li>
      Dependency Status:

      <b>
        <%- if @entitlement_search.dependency_status == 'true' -%>
          Yes, I have dependents (spouse/children) that are authorized to move
        <%- else -%>
          No, I do not have dependents
        <%- end -%>
      </b>
    </li>
    <li>Move Type: <b><%= abbr_tag(@entitlement_search.move_type) %></b></li>
  </ul>
<%- end -%>

<table class="entitlements-table">
  <tbody>
    <%- if @entitlement_search.nil? or @entitlement_search.dependency_status == 'false' -%>
      <tr>
        <td>
          <h3>Total Weight of Household Goods</h3>

          <ul>
            <li>Excludes Pro-Gear (items used professionally for work) and your <%= abbr_tag('pov') %> vehicles (Primary Vehicles)</li>
            <li>Using a <%= link_to 'weight estimation tool', weight_estimator_path %> can help you prepare for your move</li>
          </ul>
        </td>
        <td>
          <b><%= number_with_delimiter entitlement.total_weight_self %> lbs.</b>
        </td>
      </tr>
    <%- end -%>
    <%- if @entitlement_search.nil? or @entitlement_search.dependency_status == 'true' -%>
      <tr>
        <td>
          <h3>Total Weight of Household Goods (with dependents)</h3>

          <ul>
            <li>Excludes Pro-Gear (items used professionally for work) and your <%= abbr_tag('pov') %> vehicles (Primary Vehicles)</li>
            <li>Using a <%= link_to 'weight estimation tool', weight_estimator_path %> can help you prepare for your move</li>
          </ul>
        </td>
        <td>
          <b><%= number_with_delimiter entitlement.total_weight_self_plus_dependents %> lbs.</b>
        </td>
      </tr>
    <%- end -%>
    <%- if entitlement.pro_gear_weight? -%>
      <tr>
        <td>
          <h3>Service Member Pro-Gear (Work-related equipment &amp; gear)</h3>

          <ul>
            <li>Professional equipment must be completely separated from the rest of your items so that they can be packed, marked, and weighed separately.</li>
            <li><%= link_to 'What is considered pro-gear?', '#TODO' %></li>
          </ul>
        </td>
        <td>
          <b>+ <%= number_with_delimiter entitlement.pro_gear_weight %> lbs.</b>
          <i>(not included in total weight of household goods)</i>
        </td>
      </tr>
    <%- end -%>
    <%- if entitlement.pro_gear_weight_spouse? && @entitlement_search.dependency_status == 'true' -%>
      <tr>
        <td>
          <h3>Spouse Pro-Gear (Work-related equipment &amp; gear)</h3>

          <ul>
            <li>Professional equipment must be completely separated from your spouse’s pro-gear and from the rest of your family’s items. All of your pro-gear will be packed, marked, and weighed separately.</li>
            <li>Spouses have the same limitations as the service member regarding what can be considered “Pro-Gear.” See the service member pro-gear section above for more details.</li>
          </ul>
        </td>
        <td>
          <b>+ <%= number_with_delimiter entitlement.pro_gear_weight_spouse %> lbs.</b>
          <i>(not included in total weight of household goods)</i>
        </td>
      </tr>
    <%- end -%>
  </tbody>
</table>

<%- if @entitlement_search.nil? or @entitlement_search.move_type == 'oconus' -%>
  <div class="usa-alert usa-alert-warning" >
    <div class="usa-alert-body">
      <p class="usa-alert-text"><strong>Important:</strong> Certain overseas (<%= abbr_tag('oconus') %>) locations have weight restrictions due to limited housing and storage availability. If you are moving to an overseas (<%= abbr_tag('oconus') %>) location with restrictions any excess weight above your restricted weight up to your full weight entitlement can be placed in stateside longterm "non-temporary" storage (NTS).</p>
    </div>
  </div>
<%- end -%>
