<h2>Special Item Information</h2>

<ul class="special-items-navigation">
  <li>
    <%= link_to '#pets-live-animals' do %>
      <%= image_tag 'icons/pets-blue.svg', alt: '', role: 'presentation' %>
      Pets &amp; Live Animals <i>(including  birds, fish, reptiles, etc.)</i>
    <% end %>
  </li>
  <li>
    <%= link_to '#firearms' do %>
      <%= image_tag 'icons/firearm-blue.svg', alt: '', role: 'presentation' %>
      Firearms
    <% end %>
  </li>
  <li>
    <%= link_to '#alcohol' do %>
      <%= image_tag 'icons/alcohol-blue.svg', alt: '', role: 'presentation' %>
      Alcohol
    <% end %>
  </li>
  <li>
    <%= link_to '#consumable-items' do %>
      <%= image_tag 'icons/food-blue.svg', alt: '', role: 'presentation' %>
      Consumable Items
    <% end %>
  </li>
  <li>
    <%= link_to '#household-appliances' do %>
      <%= image_tag 'icons/household-appliances-blue.svg', alt: '', role: 'presentation' %>
      Household Appliances
    <% end %>
  </li>
  <li>
    <%= link_to '#televisions-and-monitors' do %>
      <%= image_tag 'icons/television-blue.svg', alt: '', role: 'presentation' %>
      Flat-Panel TVs &amp; Monitors
    <% end %>
  </li>
  <li>
    <%= link_to '#lawn-furniture' do %>
      <%= image_tag 'icons/lawn-furniture-blue.svg', alt: '', role: 'presentation' %>
      Lawn Furniture
    <% end %>
  </li>
  <li>
    <%= link_to '#privately-owned-vehicle' do %>
      <%= image_tag 'icons/pov-blue.svg', alt: '', role: 'presentation' %>
      <%= abbr_tag('pov') %> (Primary vehicles)
    <% end %>
  </li>
  <li>
    <%= link_to '#motorcycles-and-dirtbikes' do %>
      <%= image_tag 'icons/motorcycle-blue.svg', alt: '', role: 'presentation' %>
      Motorcycles &amp; Dirtbikes
    <% end %>
  </li>
  <li>
    <%= link_to '#spare-parts' do %>
      <%= image_tag 'icons/spare-parts-blue.svg', alt: '', role: 'presentation' %>
      Spare <%= abbr_tag('pov') %> Parts
    <% end %>
  </li>
  <li>
    <%= link_to '#utility-trailer' do %>
      <%= image_tag 'icons/trailer-blue.svg', alt: '', role: 'presentation' %>
      Utility Trailer
    <% end %>
  </li>
  <li class="double-wide">
    <%= link_to '#miscellaneous-vehicles' do %>
      <%= image_tag 'icons/sporting-vehicles-blue.svg', alt: '', role: 'presentation' %>
      Misc. Sporting Vehicles, Equipment, and Single Occupant Ultra Vehicles <i>(including Mopeds, Hang Gliders, Golf Carts, Snowmobiles, etc.)</i>
    <% end %>
  </li>
  <li>
    <%= link_to '#boats-non-primary' do %>
      <%= image_tag 'icons/boat-blue.svg', alt: '', role: 'presentation' %>
      Boat or Personal Watercraft (Not primary residence)
    <% end %>
  </li>
  <li>
    <%= link_to '#mobile-home' do %>
      <%= image_tag 'icons/mobile-home-blue.svg', alt: '', role: 'presentation' %>
      Mobile Home
    <% end %>
  </li>
  <li>
    <%= link_to '#boats-primary' do %>
      <%= image_tag 'icons/boat-blue.svg', alt: '', role: 'presentation' %>
      Boat or Personal Watercraft (Primary residence)
    <% end %>
  </li>
</ul>

<table class="special-items-table">
  <tbody>
    <tr id="pets-live-animals">
      <th scope="row">
        <%= image_tag 'icons/pets.svg', alt: '', role: 'presentation' %>
        <span>Pets &amp; Live Animals <i>(including  birds, fish, reptiles, etc.)</i></span>
      </th>
      <td>
        <h3>Allowed, at own expense.</h3>

        <ul>
          <li>Pets or animals are only allowed if they are travelling with you at your expense. Your Transportation Service Provider (TSP) cannot ship any live animals as part of your move. </li>
          <li>Check out your new duty station website to learn about any vaccines and special quarentines your pet may have to undergo.</li>
          <li><b>For <%= abbr_tag('oconus') %>:</b> Some host countries/international bases may limit the animal species and dog breeds allowed. Make sure you <%= link_to 'contact your new duty station', '#TODO' %> before making plans to travel with your pets.</li>
        </ul>
      </td>
    </tr>
    <tr id="firearms">
      <th scope="row">
        <%= image_tag 'icons/firearm.svg', alt: '', role: 'presentation' %>
        <span>Firearms</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>You can transport firearms as part of your total household goods shipment, assuming that it complies with all local and state laws.</li>
          <li>To be safe, do not carry your weapon on your person, and make sure you check all the laws of every state you intend to drive through to your new duty station.</li>
          <li><b>For <%= abbr_tag('oconus') %>:</b> You can transport firearms as part of your total household goods shipment, assuming that it abides by all the laws of your new <% abbr_tag('pds') %> country. When returning to the United States, you must identify firearms on your individual customs forms and obtain an <%= abbr_tag('atf') %> Form 6. You can access the <%= abbr_tag('atf') %> Form 6 for military personnel here and civilians here. Allow up to 6 weeks for processing.</li>
        </ul>

        <h4>Shipment Instructions</h4>

        <ul>
          <li>Make the firearm inoperable by removing the bolt, firing pin, trigger assembly, and other arming parts.</li>
          <li>Remove all ammunition from the firearm.</li>
          <li>Ensure the firearm information is written on the inventory including make, model, serial number, unique characteristics, and caliber or gauge. Carry a copy of this information physically with you. Shipment Instructions</li>
        </ul>
      </td>
    </tr>
    <tr id="alcohol">
      <th scope="row">
        <%= image_tag 'icons/alcohol.svg', alt: '', role: 'presentation' %>
        <span>Alcohol</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>You can ship alcohol as part of you total household good shipment, assuming that the alcohol you are shipping doesn’t violate any state-specific import laws.  You can check specific <%= link_to 'state and local laws', '#TODO' %> related to alcohol transportation for more information.</li>
          <li>You can ship alcohol as part of you total household good shipment, assuming that the alcohol you are shipping doesn’t violate any international customs or state-specific import laws. Check out <%= link_to 'federal US alcohol-related customs laws', '#TODO' %> and <%= link_to 'state-specific importation laws', '#TODO' %> for more details.</li>
          <li><b>For <%= abbr_tag('oconus') %>:</b> It is your responsibility to verify any alcohol restrictions associated with your new duty station.</li>
        </ul>
      </td>
    </tr>
    <tr id="consumable-items">
      <th scope="row">
        <%= image_tag 'icons/food.svg', alt: '', role: 'presentation' %>
        <span>Consumable Items</span>
      </th>
      <td>
        <h3>Only allowed for remote locations.</h3>

        <ul>
          <li>If you are assigned to a permanent duty station in a remote location listed in the <%= abbr_tag('jtr') %>, Appendix F, Part I you can ship up to 1,250 pounds of suitable consumable goods per a tour year assignment (i.e. 12-month tour - 1,250 lbs; 18-month tour - 1,875 lbs).</li>
          <li>Consumable goods must be packed, marked and weight separately.</li>
          <li>Contact your local Personal Property Office (PPPO) for more details.</li>
        </ul>
      </td>
    </tr>
    <tr id="household-appliances">
      <th scope="row">
        <%= image_tag 'icons/household-appliances.svg', alt: '', role: 'presentation' %>
        <span>Household Appliances</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>You are responsible for any costs associated with disconnecting appliances.</li>
          <li>If you have a front-loading washing machine you should have the original shipping/stabilizer bolts, spacers, and wrenches which are used to secure the machine for transport. If you don’t have the original bolts, make sure you let your TSP (Transportation Service Provider) know during your pre-move inspection.</li>
        </ul>
      </td>
    </tr>
    <tr id="televisions-and-monitors">
      <th scope="row">
        <%= image_tag 'icons/television.svg', alt: '', role: 'presentation' %>
        <span>Flat-Panel TVs &amp; Monitors</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>You are responsible for any pre- or post-move expenses related to your TV such as disconnection/dismounting and reconnection/remounting.</li>
          <li>If your flat panel TV is over 60” or thinner than 4” in depth, you can <%= link_to 'contact your Personal Property Shipping Office (PPSO)', '#TODO' %> to authorize crating of your television.</li>
          <li>The Transportation Service Provider (TSP) is responsible for wrapping and packing your TV.</li>
          <li>Make sure you inform your TSP if your TV is a plama display type, because it must be shipped upright.</li>
        </ul>
      </td>
    </tr>
    <tr id="lawn-furniture">
      <th scope="row">
        <%= image_tag 'icons/lawn-furniture.svg', alt: '', role: 'presentation' %>
        <span>Lawn Furniture</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>If you are moving from a gypsy moth quarantined area to a non-quarantine area, you must inspect your outdoor household items for the gypsy moth before you move.</li>
          <li>If you find the Gypsy Moth on any of your belongings, you must treat it before your move. You can use the USDA’s Gypsy Moth Guide to help you know what to look for.</li>
          <li><b>For <%= abbr_tag('oconus') %>:</b> If travelling to an international <%= abbr_tag('pds') %>, make sure you check with your host base relating to any other agriculture-related procedures that might affect your shipment.</li>
        </ul>
      </td>
    </tr>
    <tr id="privately-owned-vehicle">
      <th scope="row">
        <%= image_tag 'icons/pov.svg', alt: '', role: 'presentation' %>
        <span><%= abbr_tag('pov') %> (Primary vehicles)</span>
      </th>
      <td>
        <h3>Allowed, largely at your own expense.</h3>

        <h4>For <%= abbr_tag('conus') %>:</h4>

        <ul>
          <li>The cost of transporting your primary vehicles to your new <%= abbr_tag('pcs') %> is largely your responsibility.</li>
          <li>The military will reimburse you for the mileage associated with driving 1 <%= abbr_tag('pov') %> according to the <%= link_to raw("#{abbr_tag('dod')} #{abbr_tag('pcs')} Mileage Reimbursement rate"), '#TODO' %>.</li>
          <li>If you decide not to drive your <%= abbr_tag('pov') %> to your next duty station, you are 100% responsible for any cost relating to shipment of your vehicle. (In some cases, a POV shipment can requested and authorized if the service member physically cannot drive their car because of geographical or medical limitations.)</li>
        </ul>

        <h4>For <%= abbr_tag('oconus') %>:</h4>

        <%# TODO Add POV OCONUS content %>
      </td>
    </tr>
    <tr id="motorcycles-and-dirtbikes">
      <th scope="row">
        <%= image_tag 'icons/motorcycle.svg', alt: '', role: 'presentation' %>
        <span>Motorcycles &amp; Dirtbikes</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>1 Motorcycle can be transported as a <%= abbr_tag('pov') %> (Primary Vehicle); otherwise motorcycles/dirt bikes can be shipped as a household good where the weight of the bike is deducted from the total weight of household goods.)</li>
        </ul>

        <h4>Shipment Instructions</h4>

        <ul>
          <li>Drain the bike of fuel (Carbureted models must be drained down to reserve.)</li>
          <li>Properly inflate tires and repair any fluid leaks (oil, transmission, fuel) as applicable.</li>
          <li>Disconnect battery and tape ends with electrical tape.</li>
          <li>Empty saddlebacks. (Helmets, saddlebags and windshields can stay on the bike provided it is securely strapped to the bike.)</li>
          <li>Unlock bike so that it can be rolled on and off of the moving truck.</li>
        </ul>
      </td>
    </tr>
    <tr id="spare-parts">
      <th scope="row">
        <%= image_tag 'icons/spare-parts.svg', alt: '', role: 'presentation' %>
        <span>Spare <%= abbr_tag('pov') %> Parts</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>The weight of any spare <%= abbr_tag('pov') %> (Primary Vehicle) parts will be deducted from the total allowed weight of household goods.</li>
          <li>Examples of <%= abbr_tag('pov') %> parts might include car engine, transmission, seats, tops, winch, spare tires, portable gas cans, <%= abbr_tag('gps') %> systems and CD players or other items with a high vulnerability of pilferage.</li>
        </ul>
      </td>
    </tr>
    <tr id="utility-trailer">
      <th scope="row">
        <%= image_tag 'icons/trailer.svg', alt: '', role: 'presentation' %>
        <span>Utility Trailer</span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>The weight of any utility trailor will be deducted from the total allowed weight of household goods.</li>
          <li>Trailers must have a single axel, overall length no more than 12ft and less than 8ft wide (outside tire to outside tire). The side rails/body must be less than 28 inches (or less detachable) and the ramp/gate for the trailer can be no higher than 4 ft (unless detachable).</li>
        </ul>
      </td>
    </tr>
    <tr id="miscellaneous-vehicles">
      <th scope="row">
        <%= image_tag 'icons/sporting-vehicles.svg', alt: '', role: 'presentation' %>
        <span>Misc. Sporting Vehicles, Equipment, and Single Occupant Ultra Vehicles <i>(including Mopeds, Hang Gliders, Golf Carts, Snowmobiles, etc.)</i></span>
      </th>
      <td>
        <h3>Allowed.</h3>

        <ul>
          <li>The weight of any misc sporting vehicles will be deducted from the total allowed weight of household goods.</li>
          <li>These items may ship with their associated trailer if applicable.</li>
          <li>If applicable, the vehicles should be drained of fuel prior to shipment.</li>
          <li>Single-occupant ultra vehicles must weigh less under 155 lbs (unpowered) or 254 lbs (powered);  and have a fuel capacity not to exceed (NTE) 5 gallons, airspeed NTE 55 knots, and/or a power-off stall speed NTE 24 knots.</li>
        </ul>
      </td>
    </tr>
    <tr id="boats-non-primary">
      <th scope="row">
        <%= image_tag 'icons/boat.svg', alt: '', role: 'presentation' %>
        <span>Boat or Personal Watercraft (Not primary residence) <i>(including Canoes, Skiffs, Sailboats, Light Rowboats, Kayaks, Jet Skis, Sculls, etc.)</i></span>
      </th>
      <td>
        <h3>Allowed, largely at your own expense.</h3>

        <ul>
          <li>Boats can shipped (up to 14ft long) can be included as part of your household goods shipment. The weight of your boat will be included in your maximium weight allowance total. If your boat is over 14ft, the boat will need to be scheduled as its own household goods shipment.</li>
          <li>You will also be 100% responsible for any accessorial service charges (special packing, crating, handling, and boat transportation fees) incurred as well as any excess cost that comes from exceeding your maximum weight allowance.</li>
          <li>It is highly suggested, that you consider doing a Personally Procured Move (PPM) for your boat. In this option, the government will either pay you to move your boat or you have the ability to select your own commercial boat hauler. If you can figure out how to move your boat for less money than the government pays your, than you can keep the rest. <%= link_to 'How much money will the government pay me to move my boat?', '#TODO' %></li>
        </ul>

        <h4>Shipment Instructions</h4>

        <ul>
          <li>Make sure your trailer has a valid license, if the origin state does not require a license; a transit permit at the service member’s expense is necessary for the boat hauler to transport the boat trailer.</li>
          <li>The trailer must have good tires, working lights, wiring and brakes.</li>
          <li>The trailer frame cannot be bent, twisted, or broken.</li>
          <li>Remove any valuable items from the boat before shipment (i.e. clothing, TVs, skis, and similar items).</li>
          <li>Lower or remove all antennas, masts, fishing/trolling poles, and outriggers.</li>
        </ul>

        <h4>For <%= abbr_tag('oconus') %>:</h4>

        <ul>
          <li>Any boat and/or trailer that fits into a standard overseas container (canoes, kayaks, rowboats, jet skis, etc) can be shipped with your household goods.</li>
          <li>For larger boats, you will need to <%= link_to 'visit your Personal Property Office (PPPO)', '#TODO' %> so that they can schedule a price a separate shipment with a commercial boat hauler. You will be responsible for excess cost - See above.</li>
          <li>Personally-procured boat moves are allowed for <%= abbr_tag('oconus') %> destinations. <%= link_to 'How much money will the government pay me to move my boat?', '#TODO' %></li>
        </ul>
      </td>
    </tr>
    <tr id="mobile-home">
      <th scope="row">
        <%= image_tag 'icons/mobile-home.svg', alt: '', role: 'presentation' %>
        <span>Mobile Home (RVs, Tiny Houses, etc.)</span>
      </th>
      <td>
        <h3>Allowed, for <%= abbr_tag('conus') %> &amp; Alaska only, largely at your own expense.</h3>

        <ul>
          <li>Mobile home moves are complicated, please <%= link_to 'visit your Personal Property Office (PPPO)', '#TODO' %> for more details.</li>
          <li>See the <%= link_to '“Moving your Mobile Home” handout', 'https://www.ustranscom.mil/dtr/part-iv/dtr_part_iv_app_k_5.pdf' %> for more information regarding what to expect.</li>
        </ul>
      </td>
    </tr>
    <tr id="boats-primary">
      <th scope="row">
        <%= image_tag 'icons/boat.svg', alt: '', role: 'presentation' %>
        <span>Boat or Personal Watercraft (Primary residence)</span>
      </th>
      <td>
        <h3>Allowed, for <%= abbr_tag('conus') %> (&amp; Alaska) only, largely at your own expense.</h3>

        <ul>
          <li>Residential boat moves are complicated, it is recommended that you <%= link_to 'visit your Personal Property Office (PPPO)', '#TODO' %> before scheduling anything online.</li>
          <li>In general, you can move your boat yourself, and recieve reimbursement for the ACTUAL transportation cost (with no household goods shipment) OR you can have the government arrange to move your boat and have the government pay up to what it would cost to ship the boat’s weight as household goods up to your entitlement level.</li>
          <li>See the <%= link_to '“Moving your Mobile Home” handout', 'https://www.ustranscom.mil/dtr/part-iv/dtr_part_iv_app_k_5.pdf' %> for more information regarding what to expect. (Boats are considered Mobile Homes by the military.)</li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
