<%- @page_title = 'Entitlements' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <p>Below you will find basic information and instructions regarding what you can ship.</p>

    <h2>What am I allowed to bring?</h2>

    <p>Moving allowances, also known as entitlements, with the U.S. Military are largely determined based on the service member’s or civilian’s rank and dependency status. Additionally, special circumstances like an <%= abbr_tag('oconus') %> move (moving overseas), retirement move, or separation move may have extra entitlements and/or limitations than the standard Permanent Change of Station (PCS) move within the continental United States. The Joint Travel Regulation (JTR) is the authority of entitlements for all service members, although each branch of the services may also have supplemental regulations to the <%= abbr_tag('jtr') %>.</p>
    <p>As questions arise, your Transportation Office (TO) can provide further information and generally is the best place to get help related to your move.</p>

    <%- if @entitlements.any? -%>
      <ul>
        <%- @entitlements.each do |entitlement| -%>
          <li><%= link_to entitlement.rank, entitlement_path(entitlement) %></li>
        <%- end -%>
      </ul>
    <%- end -%>

    <%= render 'special_item_information' %>
  </div>
</div>
