<%- @page_title = 'Entitlements' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render layout: 'shared/sidenav' do %>
    <li><%= link_to 'What am I allowed to bring?', '#can-bring' %></li>
    <li><%= link_to 'Your Moving Allowance', '#moving-allowance' %></li>
    <li><%= link_to 'Special Item Information', '#special-item-info' %></li>
  <% end %>

  <div class="sidenav-body">
    <p>Below you will find basic information and instructions regarding what you can ship.</p>

    <div class="article-section">
      <h4 id="can-bring">What am I allowed to bring?</h4>

      <p>Moving allowances, also known as entitlements, are largely based on the service member or civilians rank and dependency status. However, special circumstances like moving overseas (<%= abbr_tag('oconus') %>), a retirement move, or a separation move may have extra entitlements and/or limitations than the standard Permanent Change of Station (PCS) move within the continental United States.</p>

      <p>The information below is designed to help you understand these allowances and provide information that will help you through the moving process. While considerable effort was taken to ensure this information is accurate, ultimately, the Joint Travel Regulation (JTR) is the authority of entitlements for all service members and each branch of the services has supplemental regulations or guidance in addition to the JTR. If you run into a situation where you need clarification of any of these points, or just want to make sure you understand the official rules, you should reach out to your <%= link_to 'local Personal Property Office (PPPO)', offices_path %> for advice and guidance.</p>
    </div>

    <%- if @entitlements.any? -%>
      <div class="article-section">
        <h4 id="moving-allowance">Your Moving Allowance</h4>

        <div id="entitlements-search" hidden>
          <p>Moving allowances are generally based on the overall weight of your household goods. Any overages on your approved weight will be your financial responsibility, so work hard to make sure you stay within your weight allowance.</p>

          <p>Enter your rank, dependency status, and move type to determine your moving allowance.</p>

          <%= form_with url: entitlements_path, class: 'usa-form', method: 'get', skip_enforcing_utf8: true do |form| %>
            <%= form.label :rank, raw('1. Select your current <b>military pay grade</b>.') %>
            <%= form.select :rank, options_from_collection_for_select(@entitlements, :rank, :rank), { prompt: '- Select -' }, { id: :rank, required: true } %>

            <%= form.label :dependency_status, raw('2. Select your <b>dependency status</b>.') %>
            <%= form.select :dependency_status, [['Yes, I have dependents', true], ['No, I do not have dependents', false]], { prompt: '- Select -' }, { id: :dependency_status, required: true } %>

            <%= form.label :move_type, raw('3. Specify your <b>move type</b>.') %>
            <%= form.select :move_type, [['Within the Continental United States (CONUS)', 'conus'], ['Outside of the Continental United States (OCONUS)', 'oconus']], { prompt: '- Select -' }, { id: :move_type, required: true } %>

            <button>View Results</button>
          <% end %>

          <div class="moving-allowances-section" id="entitlements-search-results-container" tabindex="-1">
            <div id="entitlements-search-results" hidden></div>

            <div class="usa-alert usa-alert-info" id="entitlements-search-alert">
              <div class="usa-alert-body">
                <h3 class="usa-alert-heading">Information Needed</h3>
                <p class="usa-alert-text">Your moving allowances will appear here after providing your rank, dependency status, and move type in <%= link_to 'the form above', '#moving-allowances-form' %>.</p>
              </div>
            </div>

            <ul id="entitlements-rank-list">
              <%- @entitlements.each do |entitlement| -%>
                <li><%= link_to entitlement.rank, entitlement_path(entitlement) %></li>
              <%- end -%>
            </ul>
          </div>
        </div>
      </div>
    <%- end -%>

    <div class="article-section">
      <%= render 'special_item_information' %>
    </div>
  </div>
</div>
