<%= render 'shared/login_banner' %>

<div></div>
<div class="back-to-top">
  <%= link_to 'Back to top', '#top' %>
</div>

<div class="usa-section main-section">
  <div class="not-found-message">
    <%= image_tag '404.svg', alt: 'Alert icon' %>
    <h1>Oops...</h1>
    <div>
      It looks like the page you’re looking for can’t be found.
      <br>
      You may have mistyped the address or the page may have moved.
    </div>
  </div>
  <div class="not-found-links">
    <p>What might you be looking for?</p>

    <ul class="usa-unstyled-list">
      <li><%= link_to 'Moving in the Military', page_path('moving-guide') %></li>
      <li><%= link_to 'Entitlements/Guidelines', page_path('entitlements') %></li>
      <li><%= link_to 'What to Expect', page_path('moving-guide/conus') %></li>
      <li><%= link_to 'Moving Tips', page_path('moving-guide/tips') %></li>
      <li><%= link_to 'Nightmare Moves', page_path('moving-guide/nightmare-moves') %></li>
      <li><%= link_to raw("Overseas Moves (#{abbr_tag('oconus')})"), page_path('moving-guide/oconus') %></li>
      <li><%= link_to raw("#{abbr_tag('tdy')} Moves"), page_path('moving-guide/tdy') %></li>
      <li><%= link_to raw('Retirees/Separatees'), page_path('moving-guide/retirees-separatees') %></li>
      <li><%= link_to raw("#{abbr_tag('dod')} Civilian Employees"), page_path('moving-guide/civilians') %></li>
      <li><%= link_to 'Service-Specific Information', service_specific_information_path %></li>
      <li><%= link_to 'Reimbursements', page_path('moving-guide/reimbursements') %></li>
      <li><%= link_to 'Lost & Damage Claims', page_path('moving-guide/claims') %></li>
      <li><%= link_to 'Tutorials', tutorials_path %></li>
      <li><%= link_to 'Customer Service', page_path('customer-service') %></li>
      <li><%= link_to 'Find Nearby Locations', offices_path %></li>
      <li><%= link_to 'FAQ', faqs_path %></li>
      <li><%= link_to 'Helpful Links & Tools', page_path('resources') %></li>
      <li><%= link_to 'Weight Estimator', weight_estimator_path %></li>
    </ul>
  </div>
</div>
