<div class="svc-spec-banner">
  <%= image_tag('service_specific_information/army-banner.jpg', alt: 'Army banner') %>
  <%= image_tag('service_specific_information/army-logo.svg', alt: 'Army logo', class: 'svc-spec-logo') %>
</div>

<ul class="usa-accordion sidebar-accordion">
  <li>
    <button class="usa-accordion-button" aria-controls="customer-service">
      <h4>Customer Service Info</h4>
    </button>
    <div id="customer-service" class="usa-accordion-content">
      <%= render partial: 'army-customer-service', locals: {'contact': @branch.branch_of_service_contact} %>
    </div>
  </li>
</ul>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <%= render partial: 'posts', object: @branch.service_specific_posts %>

    <div class="supplemental-info">
      <strong>Personally Procured POV Storage:</strong>

      <p>If you are travelling overseas (OCONUS) and are interested in arranging your own vehicle storage, you will need to complete the <%= link_to 'Personally Procured Vehicle Storage Form', asset_path('personally-procured-vehicle-storage-form.xls'), download: 'Personally Procured Vehicle Storage Form' %> and submit to your <%= link_to 'local personal property office', offices_path %>. Reimbursements for self-arranged POV Storage are limited to the government’s comparative cost.</p>
    </div>
  </div>

  <div class="sidebar-section usa-width-one-third">
    <h4>Customer Service Info</h4>
    <%= render partial: 'army-customer-service', locals: {'contact': @branch.branch_of_service_contact} %>
  </div>
</div>
