<div class="svc-spec-banner">
  <%= image_tag('service-specific-information/coast-guard-banner.jpg', alt: 'Coast Guard banner') %>
  <%= image_tag('service-specific-information/coast-guard-logo.svg', alt: 'Coast Guard logo', class: 'svc-spec-logo') %>
</div>

<ul class="usa-accordion sidebar-accordion">
  <li>
    <button class="usa-accordion-button" aria-controls="customer-service">
      <h4>Customer Service Info</h4>
    </button>
    <div id="customer-service" class="usa-accordion-content">
      <%= render partial: 'customer-service', locals: {'contact': @branch.branch_of_service_contact, 'policies': [{'name': 'Coast Guard Personally Procured Move (PPM) Policy', 'url': 'https://www.fincen.uscg.mil/dity.htm'}]} %>
    </div>
  </li>
</ul>

<div class="usa-grid-full">
  <div class="usa-width-two-thirds">
    <%= render partial: 'posts', object: @branch.service_specific_posts %>
  </div>

  <div class="sidebar-section usa-width-one-third">
    <h4>Customer Service Info</h4>
    <%= render partial: 'customer-service', locals: {'contact': @branch.branch_of_service_contact, 'policies': [{'name': 'Coast Guard Personally Procured Move (PPM) Policy', 'url': 'https://www.fincen.uscg.mil/dity.htm'}]} %>
  </div>
</div>
