<%- if contact.customer_service_contact_info? -%>
  <div class="svc-spec-links">
    <header><%= contact.branch_of_service.name %> Customer Service</header>
    <em>(Entitlements, Exceptions to Policy, General Info)</em>
    <section>
      <table>
        <tbody>
          <%- if contact.custsvc_dsn -%>
            <tr>
              <th scope="row">DSN:</th>
              <td><%= contact.custsvc_dsn %></td>
            </tr>
          <%- end -%>
          <%- if contact.custsvc_tel_comm -%>
            <tr>
              <th scope="row">Comm:</th>
              <td><%= contact.custsvc_tel_comm %></td>
            </tr>
          <%- end -%>
          <%- if contact.custsvc_email -%>
            <tr>
              <th scope="row">Email:</th>
              <td><%= mail_to contact.custsvc_email %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
      <%- if contact.custsvc_facebook_url -%>
        <%= link_to image_tag('find-us-on-facebook.png', alt: 'Find Us On Facebook', width: 98), contact.custsvc_facebook_url, class: 'usa-external_link' %>
      <%- end -%>
    </section>
  </div>
<%- end -%>
<%- if contact.claims_contact_info? -%>
  <div class="svc-spec-links">
    <header>Claims</header>
    <section>
      <table class="svc-spec-links">
        <tbody>
          <%- if contact.claims_dsn -%>
            <tr>
              <th scope="row">DSN:</th>
              <td><%= contact.claims_dsn %></td>
            </tr>
          <%- end -%>
          <%- if contact.claims_tel_comm -%>
            <tr>
              <th scope="row">Comm:</ht>
              <td><%= contact.claims_tel_comm %></td>
            </tr>
          <%- end -%>
          <%- if contact.claims_tel_tollfree -%>
            <tr>
              <th scope="row">Toll Free:</th>
              <td><%= contact.claims_tel_tollfree %></td>
            </tr>
          <%- end -%>
          <%- if contact.claims_email -%>
            <tr>
              <th scope="row">Email:</th>
              <td><%= mail_to contact.claims_email %></td>
            </tr>
          <%- end -%>
          <%- if contact.claims_fax_dsn -%>
            <tr>
              <th scope="row">DSN-Fax:</th>
              <td><%= contact.claims_fax_dsn %></td>
            </tr>
          <%- end -%>
          <%- if contact.claims_fax_comm -%>
            <tr>
              <th scope="row">Comm-Fax:</th>
              <td><%= contact.claims_fax_comm %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </section>
  </div>
<%- end -%>
<%- if contact.retiree_contact_info? -%>
  <div class="svc-spec-links">
    <header>Retirement/Separation HHG Extensions</header>
    <section>
      <table>
        <tbody>
          <%- if contact.retiree_fax_dsn -%>
            <tr>
              <th scope="row">DSN:</th>
              <td><%= contact.retiree_dsn %></td>
            </tr>
          <%- end -%>
          <%- if contact.retiree_tel_comm -%>
            <tr>
              <th scope="row">Comm:</th>
              <td><%= contact.retiree_tel_comm %></td>
            </tr>
          <%- end -%>
          <%- if contact.retiree_email -%>
            <tr>
              <th scope="row">Email:</th>
              <td><%= mail_to contact.retiree_email %></td>
            </tr>
          <%- end -%>
          <%- if contact.retiree_fax_dsn -%>
            <tr>
              <th scope="row">DSN-Fax:</th>
              <td><%= contact.retiree_fax_dsn %></td>
            </tr>
          <%- end -%>
          <%- if contact.retiree_fax_comm -%>
            <tr>
              <th scope="row">Comm-Fax:</th>
              <td><%= contact.retiree_fax_comm %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
      <%- if contact.retiree_post -%>
        Address:
        <%= simple_format(contact.retiree_post) %>
      <%- end -%>
    </section>
  </div>
<%- end -%>
<%- if contact.ppm_contact_info? -%>
  <div class="svc-spec-links">
    <header>Personally Procured Moves (PPM): Submit or Check Status</header>
    <section>
      <table>
        <tbody>
          <%- if contact.ppm_website -%>
            <tr>
              <th scope="row">Website:</th>
              <td><%= link_to contact.ppm_website, contact.ppm_website %></td>
            </tr>
          <%- end -%>
          <%- if contact.ppm_tel_comm -%>
            <tr>
              <th scope="row">Comm:</th>
              <td><%= contact.ppm_tel_comm %></td>
            </tr>
          <%- end -%>
        </tbody>
      </table>
    </secton>
  </div>
<%- end -%>
<%- if policies.any? -%>
  <div class="svc-spec-links">
    <header>Supplemental Policies</header>
    <section>
      <ul class="usa-unstyled-list">
        <%- policies.each do |policy| -%>
          <li><%= link_to policy[:name], policy[:url], class: 'usa-external_link' %></li>
        <%- end -%>
      </ul>
    </section>
  </div>
<%- end -%>
