<%- @page_title = 'Service-Specific Information' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render partial: 'sidenav', locals: {branch: 'air-force'} %>

  <div class="sidenav-body svc-spec-body">
    <div class="svc-spec-banner">
      <%= image_tag('service_specific_information/air-force-banner.png', alt: 'Air Force banner') %>
      <%= image_tag('service_specific_information/air-force-logo.svg', alt: 'Air Force logo', class: 'svc-spec-logo') %>
    </div>

    <ul class="usa-accordion sidebar-accordion">
      <li>
        <button class="usa-accordion-button" aria-controls="customer-service">
          <h4>Customer Service Info</h4>
        </button>
        <div id="customer-service" class="usa-accordion-content">
          <%= render partial: 'customer-service', locals: {'contact': @contact, 'policies': [{'name': 'Air Force Household Goods Policy', 'url': 'http://static.e-publishing.af.mil/production/1/af_a4_7/publication/afi24-501/afi24-501.pdf'}]} %>
        </div>
      </li>
    </ul>

    <div class="usa-grid-full">
      <%= render partial: 'posts', object: @posts %>

      <div class="sidebar-section usa-width-one-third">
        <h4>Customer Service Info</h4>
        <%= render partial: 'customer-service', locals: {'contact': @contact, 'policies': [{'name': 'Air Force Household Goods Policy', 'url': 'http://static.e-publishing.af.mil/production/1/af_a4_7/publication/afi24-501/afi24-501.pdf'}]} %>
      </div>
    </div>
  </div>
</div>
