<%- @page_title = 'Service-Specific Information' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render partial: 'sidenav', locals: {branch: 'air-force'} %>

  <div class="sidenav-body svc-spec-body">
    <%= image_tag('service_specific_information/air-force.png') %>
    <%= render partial: 'posts', object: @posts %>
  </div>
</div>
