<%- @page_title = 'Service-Specific Information' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render partial: 'sidenav', locals: {branch: 'army'} %>

  <div class="sidenav-body svc-spec-body">
    <%= render partial: 'posts', object: @posts %>
    <%= render partial: 'customer-service', locals: {'contact': @contact, 'policies': []} %>
  </div>
</div>
