<%- @page_title = 'Service-Specific Information' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>

    <p>Select your branch of service for additional move-related information and resources.</p>

    <div class="tabs" id="tabs">
      <ul class="tabs-list">
        <li><a href="#army" id="tab-army"><span>U.S. </span>Army</a></li>
        <li><a href="#air-force" id="tab-air-force"><span>U.S. </span>Air Force</a></li>
        <li><a href="#navy" id="tab-navy"><span>U.S. </span>Navy</a></li>
        <li><a href="#marines" id="tab-marine-corps"><span>U.S. </span>Marine Corps</a></li>
        <li><a href="#coast-guard" id="tab-coast-guard"><span>U.S. </span>Coast Guard</a></li>
      </ul>

      <div class="usa-grid-full tabs-panel" id="army">
        <%= image_tag 'Service-Army.png', alt: '', role: 'presentation' %><br>
        <div class="usa-width-two-thirds">
          <%= render partial: 'post', collection: @posts_army %>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <article class="svc-spec-links">
            <header>Claims</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>536-3000</td>
                  </tr>
                  <tr>
                    <th scope="row">Toll Free:</th>
                    <td>(502) 626-3000</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:usarmy.knox.hqda-otjag.mbx.cpcs@mail.mil">usarmy.knox.hqda-otjag.mbx.cpcs@mail.mil</a></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Supplemental Policies</header>
            <section>
              <p>
                <a href="https://www.move.mil/news/2017%20Army%20G4%20PPM%20Policy.pdf">Army Policy for Personally Procured Moves (PPM) and NTS (Non-Temporary Storage)</a>
              </p>
              <p>
                <a href="https://www.move.mil/documents/dod/Army_NTS_Release_Policy_20_October_2016.pdf">Army NTS Release Policy</a>
              </p>
            </section>
          </article>
        </div>
      </div>

      <div class="usa-grid-full tabs-panel" id="air-force">
        <%= image_tag 'Service-AirForce.png', alt: '', role: 'presentation' %><br>
        <div class="usa-width-two-thirds">
          <%= render partial: 'post', collection: @posts_air_force %>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <article class="svc-spec-links">
            <header>Air Force Customer Service</header>
            <em>(Entitlements, Exceptions to Policy, General Info)</em>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>487-3357</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>210-652-3357</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:ppahq.ppec.customerservice@us.af.mil">ppahq.ppec.customerservice@us.af.mil</a></td>
                  </tr>
                </tbody>
              </table>
              <a class="usa-external_link" href="https://www.facebook.com/PPAHQ1/"><%= image_tag("find-us-on-facebook-512.png", :alt => "Find Us On Facebook", :width => "98") %></a><br>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Claims</header>
            <section>
              <table class="svc-spec-links">
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>986-8044</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm:</ht>
                    <td>(937) 656-8044</td>
                  </tr>
                  <tr>
                    <th scope="row">Toll Free:</th>
                    <td>1-(877)-754-1212</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:fcsc.ja@us.af.mil">fcsc.ja@us.af.mil</a></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">DSN-Fax:</th>
                    <td>986-8307</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm-Fax:</th>
                    <td>(937) 656-8307</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Retirement/Separation HHG Extensions</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>954-4200</td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td>Ext 5997/5957/5962</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(210) 321-4200</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:hqppa.ecaf-ext@us.af.mil">hqppa.ecaf-ext@us.af.mil</a></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">DSN-Fax:</th>
                    <td>954-4263</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm-Fax:</th>
                    <td>(210) 321-4263</td>
                  </tr>
                </tbody>
              </table>
              <p>Address:<br>PPA HQ/ECAF-B<br>2261 Hughes Ave, Ste 159<br>Lackland AFB, TX 78236-9857</p>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Supplemental Policies</header>
            <section>
              <p>
                <a class="usa-external_link" href="http://static.e-publishing.af.mil/production/1/af_a4_7/publication/afi24-501/afi24-501.pdf">AFI 24-501 Air Force Personal Property Moving and Storage</a>
              </p>
            </section>
          </article>
        </div>
      </div>

      <div class="usa-grid-full tabs-panel" id="navy">
        <div class="usa-width-two-thirds">
          <%= render partial: 'post', collection: @posts_navy %>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <article class="svc-spec-links">
            <header>Navy Customer Service</header>
            <em>(Entitlements, Exceptions to Policy, General Info)</em>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">Toll Free:</th>
                    <td>(855) 444-6683</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:householdgoods@navy.mil">householdgoods@navy.mil</a></td>
                  </tr>
                </tbody>
              </table>
              <a class="usa-external_link" href="https://www.facebook.com/NAVYHHG/"><%= image_tag("find-us-on-facebook-512.png", :alt => "Find Us On Facebook", :width => "98") %></a><br>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Claims</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>564-3310</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(757) 440-6315</td>
                  </tr>
                  <tr>
                    <th scope="row">Toll Free:</th>
                    <td>1-(888)-897-8217</td>
                  <tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:norfolkclaims@navy.mil">norfolkclaims@navy.mil</a></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Retirement/Separation HHG Extensions</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:nxag_n130c1@navy.mil">nxag_n130c1@navy.mil</a></td>
                  </tr>
                  <tr>
                    <th scope="row"></th>
                    <td><a href="david.maly@navy.mil">david.maly@navy.mil</a></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Supplemental Policies</header>
            <section>
              <p>
                <a href="https://www.move.mil/documents/dod/NAVSUP_490_Rev6.pdf">NAVSUP Pub 490</a>: Navy guidance for personal property transportation.
              </p>
            </section>
          </article>
        </div>
      </div>

      <div class="usa-grid-full tabs-panel" id="marines">
        <%= image_tag 'Service-Marines.png', alt: '', role: 'presentation' %><br>
        <div class="usa-width-two-thirds">
          <%= render partial: 'post', collection: @posts_marine_corps %>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <article class="svc-spec-links">
            <header>Marine Corps Customer Service</header>
            <em>(Entitlements, Exceptions to Policy, General Info)</em>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(703) 695-7765</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:usmcpersonalproperty@usmc.mil">usmcpersonalproperty@usmc.mil</a></td>
                  </tr>
                </tbody>
              </table>
              <a class="usa-external_link" href="https://www.facebook.com/usmchouseholdgoods"><%= image_tag("find-us-on-facebook-512.png", :alt => "Find Us On Facebook", :width => "98") %></a><br>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Claims</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>278-9533</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(703) 784-9533</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:hgmc.claims@usmc.mil">hgmc.claims@usmc.mil</a></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">Comm Fax:</th>
                    <td>(703) 432-2591</td>
                  </tr>
                </tbody>
              </table>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Retirement/Separation HHG Extensions</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">DSN:</th>
                    <td>225-7765</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(703) 695-7765</td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <th scope="row">DSN Fax:</th>
                    <td>225-8160</td>
                  </tr>
                  <tr>
                    <th scope="row">Comm Fax:</th>
                    <td>(703) 695-8160</td>
                  </tr>
                </tbody>
              </table>
              <p>
                Address:<br>
                Commandant of the Marine Corps<br>
                3000 Marine Corps Pentagon, Rm 2E227 (LPD-2)<br>
                Washington, DC 20350-3000
              </p>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Supplemental Policies</header>
            <section>
              <p>
                <a href="https://www.move.mil/documents/dod/MCO_4600_39_19_AUG_2016.pdf">Marine P4600.39</a>: Marine Corps's manual for personal property transportation.
              </p>
            </section>
          </article>
        </div>
      </div>

      <div class="usa-grid-full tabs-panel" id="coast-guard">
        <%= image_tag 'Service-CoastGuard.png', alt: '', role: 'presentation' %><br>
        <div class="usa-width-two-thirds">
          <%= render partial: 'post', collection: @posts_coast_guard %>
        </div>
        <div class="usa-width-one-third">
          <h4>Helpful Links</h4>
          <article class="svc-spec-links">
            <header>Finance Center Customer Service Team</header>
            <em>(Entitlements, Reimbursements)</em>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(757) 523-6940</td>
                  </tr>
                  <tr>
                    <th scope="row">Hours:</th>
                    <td>8:00am - 5:00pm Eastern Time</td>
                  </tr>
                </tbody>
              </table>
              <p><a class="usa-external_link" href="http://www.fincen.uscg.mil/hhg.htm">http://www.fincen.uscg.mil/hhg.htm</a></p>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Claims</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">Comm:</th>
                    <td>(757) 523-6940</td>
                  </tr>
                  <tr>
                    <th scope="row">Email:</th>
                    <td><a href="mailto:fin-smb-hhg@uscg.mil">fin-smb-hhg@uscg.mil</a></td>
                  </tr>
                </tbody>
              </table>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Retirement/Separation HHG Extensions</header>
            <section>
              <table>
                <tbody>
                  <tr>
                    <th scope="row">Email:</tg>
                    <td><a href="mailto:Otmane.Karim@uscg.mil">Otmane.Karim@uscg.mil</a></td>
                  </tr>
                </tbody>
              </table>
              <p>
                Address:<br>
                Commandant (CG-1332)<br>
                Attn: Travel &amp; Transportation Division<br>
                United States Coast Guard<br>
                2703 Martin Luther King Jr Avenue S.E., Stop 7907<br>
                Washington, D. C. 20593-7907
              </p>
            </section>
          </article>
          <article class="svc-spec-links">
            <header>Supplemental Policies</header>
            <section>
              <p>
                <a class="usa-external_link" href="https://www.fincen.uscg.mil/dity.htm">Coast Guard Personally Procured Move (PPM) Policy</a>
              </p>
            </section>
          </article>
        </div>
      </div>
    </div>
  </div>
</div>
