<%- @page_title = 'Service-Specific Information' -%>

<%= render partial: 'shared/contextual_header', locals: {page_title: @page_title, parent_pages: []} %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render partial: 'sidenav', locals: {branch: 'marine-corps'} %>

  <div class="sidenav-body svc-spec-body">
    <ul class="usa-accordion sidebar-accordion">
      <li>
        <button class="usa-accordion-button" aria-controls="customer-service">
          <h4>Customer Service Info</h4>
        </button>
        <div id="customer-service" class="usa-accordion-content">
          <%= render partial: 'customer-service', locals: {'contact': @contact, 'policies': [{'name': 'Marine P4600.39: Marine Corps\'s manual for personal property transportation', 'url': 'https://www.move.mil/documents/dod/MCO_4600_39_19_AUG_2016.pdf'}]} %>
        </div>
      </li>
    </ul>

    <div class="usa-grid-full">
      <%= render partial: 'posts', object: @posts %>

      <div class="sidebar-section usa-width-one-third">
        <h4>Customer Service Info</h4>
        <%= render partial: 'customer-service', locals: {'contact': @contact, 'policies': [{'name': 'Marine P4600.39: Marine Corps\'s manual for personal property transportation', 'url': 'https://www.move.mil/documents/dod/MCO_4600_39_19_AUG_2016.pdf'}]} %>
      </div>
    </div>
  </div>
</div>
