<%- @page_title = 'Service-Specific Information' -%>

<%= render partial: 'shared/contextual_header', locals: { page_title: @page_title, parent_pages: [] } %>

<div class="usa-section main-section">
  <h1><%= @page_title %></h1>

  <%= render layout: 'shared/sidenav' do %>
    <%- @branches.each do |branch| -%>
      <li><%= link_to branch.name, service_specific_information_path(branch.slug), class: branch == @branch ? 'usa-current' : nil %></li>
    <%- end -%>
  <% end %>

  <div class="sidenav-body svc-spec-body">
    <%= render partial: @branch.slug, locals: { branch: @branch } %>
  </div>
</div>
