<%- @page_title = 'Weight Estimator' -%>

<div class="usa-section main-section" id="weight-estimator">
  <h1><%= @page_title %></h1>
  <p>Get to know how much your personal belongings weigh with the Weight Estimator Tool. Enter the number of items you have for each type, then click "Calculate" for that category. At the bottom of the page is a Grand Total Estimate that you can use to compare to your Entitlement, and prepare for your move.</p>
  <%- if @household_good_categories -%>
    <div id="hhg-category-list" class="hhg-category-list">
      <%- @household_good_categories.each do |category| -%>
        <div class="usa-grid-full hhg-category">
          <div class="usa-width-one-fourth hhg-category-header">
            <%= image_tag category.icon, width: '50px', role: 'presentation' %>
            <span><%= category.name %></span>
          </div>
          <div class="usa-grid-full hhg-category-section-two">
            <div class="usa-width-one-half">
              <table class="usa-table-borderless hhg-misc-table">
                <thead>
                  <tr>
                    <th scope="col">Miscellaneous</th>
                    <th scope="col">Weight</th>
                  </tr>
                </thead>
                <tbody>
                  <%- for i in 0..2 -%>
                    <tr>
                      <td><input class="hhg-misc-input" type="text" placeholder="Item Description"></td>
                      <td><input class="hhg-weight-input" type="text" pattern="\d+" placeholder="lbs"></td>
                    </tr>
                  <%- end -%>
                </tbody>
              </table>
            </div>
            <div class="usa-width-one-half">
              <button id="<%= category.key %>" class="category-calculate-button">Calculate</button>
              <table class="usa-table-borderless category-estimate-table">
                <tbody>
                  <tr>
                    <td><label for="<%= category.key + '_subtotal' %>" class="category-estimate-label"><%= category.name %></label></td>
                    <td><input id="<%= category.key + '_subtotal' %>" name="<%= category.key + '_subtotal' %>" class="category-estimate-input" disabled></td>
                  </tr>
                  <tr>
                    <td><label for="<%= category.key + '_total' %>" class="category-estimate-label">Total Shipment Estimate</label></td>
                    <td><input id="<%= category.key + '_total' %>" name="<%= category.key + '_total' %>" class="category-estimate-input" disabled></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    <%- end -%>
    <button id="calcuate-button">Calculate My Estimate</button>
    <div id="weight-result" class="weight-result"></div>
  <%- end -%>
  <div class="weight-estimator-footer">
    <p>Note: This is an estimate only. It is designed to assist you in estimating the total weight of your shipment. However, you are ultimately responsible for the actual weight of the household goods you ship. The weights used here are based on industry standards and your actual weights may vary depending on brand, size, etc.</p>
  </div>
</div>
