<%- @page_title = 'Weight Estimator' -%>

<div class="usa-grid usa-section usa-layout-docs">
  <%= render 'shared/sidenav' %>

  <div class="usa-width-three-fourths usa-layout-docs-main_content">
    <h1><%= @page_title %></h1>
    <p>Get to know how much your personal belongings weigh with the Weight Estimator Tool. Enter the number of items you have for each type, then click “Calculate My Estimate” at the bottom to see how much all your belongings might weigh. Next, start thinking about your weight entitlement, and prepare for your move.</p>
    <%- if @household_goods_by_category -%>
      <div id="hhg-category-list" class="hhg-category-list">
        <%- @household_goods_by_category.each do |category, household_goods| -%>
          <div class="usa-grid-full hhg-category">
            <div class="usa-width-one-fourth hhg-category-header"><%= category %></div>
            <div class="usa-width-three-fourths">
              <div id="<%= category %>" class="usa-grid-full">
                <%- @half = household_goods.length / 2 -%>
                <%= render partial: 'household_goods', object: household_goods.first(household_goods.length - @half) %>
                <%= render partial: 'household_goods', object: household_goods.last(@half) %>
              </div>
            </div>
          </div>
        <%- end -%>
      </div>
      <button id="calcuate-button">Calculate My Estimate</button>
      <span id="weight-result" class="weight-result"></span>
    <%- end -%>
    <div class="weight-estimator-footer">
      <p>Note: This is only an estimate of the weight of your stuff.</p>
    </div>
  </div>
</div>
