<div class="shipping-office" data-latitude="<%= shipping_office.latitude %>" data-longitude="<%= shipping_office.longitude %>" data-name="<%= shipping_office.name %>" id="office-<%= shipping_office.id %>">
  <div class="shipping-office-header">
    <b>Regional Processing Office</b><br>
    <%= shipping_office.name %><br><br>
  </div>

  <div class="shipping-office-body usa-grid-full">
    <%- if shipping_office.phone_numbers.any? -%>
      <div class="usa-width-one-third">
        <%= render partial: 'phone_numbers', object: shipping_office.phone_numbers %>
      </div>
    <%- end -%>

    <%- if shipping_office.email_addresses.any? -%>
      <div class="usa-width-one-third">
        <%= render partial: 'email_addresses', object: shipping_office.email_addresses %>
      </div>
    <%- end -%>

    <%- if shipping_office.urls.any? -%>
      <div class="usa-width-one-third">
        <%= render partial: 'urls', object: shipping_office.urls %>
      </div>
    <%- end -%>
  </div>
</div>
