<div class="location-search-result transportation-office" data-latitude="<%= transportation_office.location.latitude %>" data-longitude="<%= transportation_office.location.longitude %>" data-name="<%= transportation_office.name %>" id="office-<%= transportation_office.id %>">
  <div class="location-search-result-header">
    <b><%= transportation_office.name %></b>
  </div>

  <div class="location-search-result-body">
    <div class="usa-grid-full">
      <div class="usa-width-one-third">
        <b>Location:</b><br>
        <%= transportation_office.location.street_address %><br>
        <%- if transportation_office.location.extended_address? -%>
          <%= transportation_office.location.extended_address %><br>
        <%- end -%>
        <%= transportation_office.location.locality %>, <%= transportation_office.location.region %> <%= transportation_office.location.postal_code %><br>
        <%= transportation_office.location.country_name %><br><br>

        <%- if transportation_office.phone_numbers.any? -%>
          <%= render partial: 'phone_numbers', object: transportation_office.phone_numbers %>
        <%- end -%>
      </div>

      <div class="usa-width-one-third">
        <%- if transportation_office.email_addresses.any? -%>
          <%= render partial: 'email_addresses', object: transportation_office.email_addresses %>
        <%- end -%>

        <%- if transportation_office.urls.any? -%>
          <%= render partial: 'urls', object: transportation_office.urls %>
        <%- end -%>
      </div>

      <div class="usa-width-one-third">
        <%- if transportation_office.hours? -%>
          <b>Hours:</b><br>
          <%= transportation_office.hours %><br><br>
        <%- end -%>

        <%- if transportation_office.note? -%>
          <b>Notes:</b><br>
          <%= transportation_office.note %><br><br>
        <%- end -%>

        <%- if transportation_office.services.any? -%>
          <b>Services:</b><br>

          <ul class="location-search-result-services">
            <%- transportation_office.services.each do |service| -%>
              <li><%= service %></li>
            <%- end -%>
          </ul>
        <%- end -%>
      </div>
    </div>

    <%- if transportation_office.shipping_office -%>
      <%= render partial: 'shipping_office', object: transportation_office.shipping_office %>
    <%- end -%>
  </div>
</div>
