<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <meta charset="utf-8">

  <title><%= page_title %></title>

  <meta name="apple-mobile-web-app-title" content="<%= t('site.name') %>">
	<meta name="application-name" content="<%= t('site.name') %>">
  <!-- Don't automatically turn phone numbers (especially FAX numbers) into links -->
  <meta name="format-detection" content="telephone=no">
  <meta name="theme-color" content="#d6d7d9">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= tag.link href: asset_path('ustranscom-emblem-256x256.png'), rel: 'apple-shortcut-icon' %>
  <%= tag.link href: asset_path('ustranscom-emblem-256x256.png'), rel: 'shortcut icon' %>
  <%= tag.link href: asset_path('application.css'), rel: 'stylesheet' %>

  <!--[if lt IE 9]>
	  <%= javascript_include_tag 'html5shiv' %>
  <![endif]-->
</head>
<body>

  <div id="top">
    <%= link_to 'Skip to main content', '#main-content', class: 'usa-skipnav' %>
  </div>

  <header class="usa-header usa-header-extended" role="banner">
    <div class="usa-banner">
      <div class="usa-accordion">
        <div class="usa-banner-header">
          <div class="usa-grid usa-banner-inner">
            <div class="beta-notice">
              <p><b>This site is in beta.</b> To view the current production site, visit <%= link_to 'www.move.mil', 'https://www.move.mil' %>.</p>
            </div>

            <%= image_tag 'uswds/favicons/favicon-57.png', alt: 'U.S. flag' %>
            <p>An official website of the United States government</p>
            <button aria-controls="gov-banner" aria-expanded="false" class="usa-accordion-button usa-banner-button">
              <span class="usa-banner-button-text">Here’s how you know</span>
            </button>
          </div>
        </div>

        <div class="usa-banner-content usa-grid usa-accordion-content" id="gov-banner">
          <div class="usa-banner-guidance-gov">
            <%= image_tag 'uswds/icon-dot-gov.svg', alt: 'Dot gov', class: 'usa-banner-icon usa-media_block-img' %>
            <div class="usa-media_block-body">
              <p>
                <strong>The .mil means it’s official.</strong>
                <br>
                Federal government websites always use a .gov or .mil domain. Before sharing sensitive information online, make sure you’re on a .gov or .mil site by inspecting your browser’s address (or “location”) bar.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="usa-navbar">
      <%= raw('<button class="usa-menu-btn">Menu</button>') if current_page?(root_path) %>

      <div class="usa-logo" id="logo">
        <em class="usa-logo-text">
          <%= link_to root_path, 'aria-label': 'Home', rel: 'home' do %>
            <%= t('site.name') %>
            <span>– <%= raw t('site.tagline', abbr: abbr_tag('dod')) %></span>
          <% end %>
        </em>
      </div>
    </div>
    <div class="navbar-border"></div>
    <%= render 'shared/nav' if current_page?(root_path) %>
  </header>
  <div class="usa-overlay"></div>

  <main id="main-content" role="main">
    <%= yield %>
  </main>

  <footer class="usa-footer usa-footer-medium" role="contentinfo">
    <div class="usa-grid usa-footer-return-to-top">
      <%= link_to 'Return to top', '#top' %>
    </div>

    <div class="usa-footer-secondary_section">
      <div class="usa-grid">
        <div class="usa-footer-logo usa-width-one-half">
          <%= link_to 'https://www.ustranscom.mil' do %>
            <%= image_tag 'emblems/ustranscom.svg', alt: 'United States Transportation Command emblem', class: 'usa-footer-logo-img' %>
            <h3 class="usa-footer-logo-heading">
              USTRANSCOM
              <br>
              <span>United States Transportation Command</span>
            </h3>
          <% end %>
        </div>

        <div class="usa-footer-contact-links usa-width-one-half">
          <h3 class="usa-footer-contact-heading">Technical Help Desk</h3>
          <p class="usa-text-small">For help using Move.mil or <%= abbr_tag('eta') %>.</p>

          <dl>
            <dt>Phone</dt>
            <dd class="usa-text-small">Toll-Free: <%= link_to '(800) 462-2176', 'tel:+18004622176' %></dd>
            <dd class="usa-text-small">Commercial: <%= link_to '(618) 589-9445', 'tel:+16185899445' %></dd>

            <dt>Email</dt>
            <dd class="usa-text-small"><%= mail_to 'usarmy.scott.sddc.mbx.g6-SRC-DPS-HD@mail.mil' %></dd>

            <dt><b>Submit a ticket online</b></dt>
            <dd class="usa-text-small"><%= link_to 'https://src.service-now.com/src/' %></dd>
          </dl>
        </div>
      </div>
    </div>
  </footer>

  <script>
    function loadJS(e,c) {
      var d=document,r=d.createElement('script'),o=d.getElementsByTagName('script')[0];
      r.src=e;r.async=true;o.parentNode.insertBefore(r,o);if(typeof c==='function')r.onload=c;return r;
    }

    if (window.addEventListener && window.JSON && document.querySelector) {
      loadJS('<%= asset_path 'application.js' %>');
    }
  </script>

  <%- if Rails.env.production? -%>
    <!-- We participate in the US government's analytics program. See the data at analytics.usa.gov. -->
    <%= javascript_include_tag 'https://dap.digitalgov.gov/Universal-Federated-Analytics-Min.js?agency=DOD', async: true, id: '_fed_an_ua_tag' %>
  <%- end -%>

</body>
</html>
